@import "./font";

body,
page {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  background: #f7f8fa;
}

.taro_router {
  .taro_page {
    min-height: 100vh;

    &::-webkit-scrollbar {
      width: 0;
      background: transparent;
    }
  }
}
