@import "./variables";

.#{$component-prefix}dropdown-menu {
  user-select: none;

  &__bar {
    position: relative;
    display: flex;
    height: $dropdown-menu-height;
    background: $dropdown-menu-background-color;
    box-shadow: $dropdown-menu-box-shadow;

    &--opened {
      z-index: $dropdown-menu-z-index;
    }
  }
}
