@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.grid-demo {

  .grid-image {
    width: 100%;
    height: 100%;
  }

  .#{$demo-prefix}page__content {
    padding: 0 0 20px * $hd 0;
  }
}
