@import "./variables";

.#{$component-prefix}tabs__tab {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 0;
  padding: 0 var(--padding-base, $padding-base);
  font-size: var(--tab-font-size, $tab-font-size);
  line-height: var(--tab-line-height, $tab-line-height);
  color: var(--tab-text-color, $tab-text-color);
  cursor: pointer;

  &--active {
    font-weight: var(--font-weight-bold, $font-weight-bold);
    color: var(--tab-active-text-color, $tab-active-text-color);
  }

  &--disabled {
    color: var(--tab-disabled-text-color, $tab-disabled-text-color);
    cursor: not-allowed;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
