@import "./variables";

.#{$component-prefix}tabs {

  &__line {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: $tabs-bottom-bar-width;
    height: $tabs-bottom-bar-height;
    background-color: $tabs-bottom-bar-color;
    border-radius: $tabs-bottom-bar-height;
    transform: scale(0);
  }
}
