@import "./variables";

.#{$component-prefix}tabs {

  &--line {
    .#{$component-prefix}tabs__wrap {
      height: var(--tabs-line-height, $tabs-line-height);
    }
  }
}

.#{$component-prefix}tabs__wrap {
  display: flex;
  overflow: hidden;

  &--page-top {
    position: fixed;
  }

  &--content-bottom {
    top: auto;
    bottom: 0;
  }

  &__scroll {

    &--line {
      box-sizing: content-box;
      height: 100%;
      background: #fff;
      width: 100%;
    }

    &--card {
      width: 100%;
      box-sizing: border-box;
      height: var(--tabs-card-height, $tabs-card-height);
      margin: 0 var(--padding-md, $padding-md);
      border: var(--border-width-base, $border-width-base) solid var(--tabs-active-color, $tabs-active-color);
      border-radius: var(--border-radius-sm, $border-radius-sm);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--scrollable {
    .#{$component-prefix}tabs__tab {
      flex: 1 0 auto;
      padding: 0 var(--padding-sm, $padding-sm);
    }
  }
}

.#{$component-prefix}tabs__nav {
  position: relative;
  display: flex;
  user-select: none;
  background-color: var(--tabs-nav-background-color, $tabs-nav-background-color);

  &--line {
    box-sizing: content-box;
    height: 100%;
    padding-bottom: 15px * $hd; /* 15px padding to hide scrollbar in mobile safari */
  }

  &--card {
    box-sizing: content-box;
    height: 100%;

    .#{$component-prefix}tabs__tab {
      color: var(--tabs-active-color, $tabs-active-color);
      border-right: var(--border-width-base, $border-width-base) solid var(--tabs-active-color, $tabs-active-color);

      &:last-child {
        border-right: 0 none;
      }

      &--active {
        color: var(--white, $white);
        background-color: var(--tabs-active-color, $tabs-active-color);
      }

      &--disabled {
        color: var(--tab-disabled-text-color, $tab-disabled-text-color);
      }
    }
  }
}

