@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.avatars-demo {
  background: #fff;
  height: 100%;
}
.avatar-block {
  .taroify-demo-block__content{
    display: flex;
    
  }
  .taroify-demo-block__content >*{
    margin-right: 30px;
  }
}