@import "../styles/prefix";
@import "../styles/variables";
@import "../cell/variables";

$field-label-width: 6.2em;
$field-label-color: var(--gray-7, $gray-7);
$field-label-margin-right: var(--padding-sm, $padding-sm);
$field-input-height: 24px * $hd;
$field-input-text-color: var(--text-color, $text-color);
$field-input-error-text-color: var(--danger-color, $danger-color);
$field-input-disabled-text-color: var(--gray-5, $gray-5);
$field-placeholder-text-color: var(--gray-5, $gray-5);
$field-icon-size: 16px * $hd;
$field-clear-icon-size: 16px * $hd;
$field-clear-icon-color: var(--gray-5, $gray-5);
$field-right-icon-color: var(--gray-6, $gray-6);
$field-error-message-color: var(--danger-color, $danger-color);
$field-error-message-font-size: var(--font-size-sm, $font-size-sm);
$field-text-area-min-height: 60px * $hd;
$field-word-limit-color: var(--gray-7, $gray-7);
$field-word-limit-font-size: var(--font-size-sm, $font-size-sm);
$field-word-limit-line-height: 16px * $hd;
$field-disabled-text-color: var(--gray-5, $gray-5);
$field-required-mark-color: var(--red, $red);