@import "../styles/prefix";
@import "../styles/variables";
@import "../cell/variables";

$field-label-width: 6.2em;
$field-label-color: $gray-7;
$field-label-margin-right: $padding-sm;
$field-input-height: 24px * $hd;
$field-input-text-color: $text-color;
$field-input-error-text-color: $danger-color;
$field-input-disabled-text-color: $gray-5;
$field-placeholder-text-color: $gray-5;
$field-icon-size: 16px * $hd;
$field-clear-icon-size: 16px * $hd;
$field-clear-icon-color: $gray-5;
$field-right-icon-color: $gray-6;
$field-error-message-color: $danger-color;
$field-error-message-font-size: $font-size-sm;
$field-text-area-min-height: 60px * $hd;
$field-word-limit-color: $gray-7;
$field-word-limit-font-size: $font-size-sm;
$field-word-limit-line-height: 16px * $hd;
$field-disabled-text-color: $gray-5;
$field-required-mark-color: $red;