@import "../styles/prefix";
@import "../styles/variables";
@import "../cell/variables";

$field-label-width: 6.2em;
$field-label-color: var(--gray-7, $gray-7);
$field-label-margin-right: var(--padding-sm, $padding-sm);
$field-icon-size: 16px * $hd;
$field-right-icon-color: var(--gray-6, $gray-6);

$field-disabled-color: var(--gray-5, $gray-5);
$field-required-color: var(--red, $red);

$field-explain-error-color: var(--danger-color, $danger-color);
$field-explain-error-font-size: var(--font-size-sm, $font-size-sm);
