@import "./variables";

.#{$component-prefix}field {

  &__label {
    box-sizing: border-box;
    flex: none;
    width: var(--field-label-width, $field-label-width);
    margin-right: var(--field-label-margin-right, $field-label-margin-right);
    color: var(--field-label-color, $field-label-color);
    text-align: left;
    word-wrap: break-word;

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &--required {
      &::before {
        margin-right: 2px * $hd;
        color: var(--field-required-mark-color, $field-required-mark-color);
        content: '*';
      }
    }
  }

  &--disabled {
    .#{$component-prefix}field__label {
      color: var(--field-disabled-text-color, $field-disabled-text-color);
    }
  }

  &__value {
    overflow: visible;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__body--textarea {
    box-sizing: border-box;
    min-height: 24px * $hd;
    padding: 3.6px * $hd 0;
    line-height: 1.2em;
  }

  input.#{$component-prefix}field__control,
  &__control input {
    height: var(--field-input-height, $field-input-height);
  }

  textarea.#{$component-prefix}field__control,
  &__control textarea {
    display: block;
    height: 18px * $hd;
    min-height: 18px * $hd;
  }


  &__control,
  &__control input,
  &__control textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 0; // for flex-shrink in field__button
    padding: 0;
    margin: 0;
    line-height: inherit;
    color: var(--field-input-text-color, $field-input-text-color);
    text-align: left;
    resize: none;
    background-color: transparent;
    border: 0;
    outline: none;

    &__placeholder,
    &::placeholder {
      color: var(--field-placeholder-text-color, $field-placeholder-text-color);
    }

    &__placeholder--readonly {
      color: inherit;
    }

    &--disabled {
      color: var(--field-input-disabled-text-color, $field-input-disabled-text-color);
      cursor: not-allowed;
      opacity: 1;
      // fix disabled color in mobile safari
      -webkit-text-fill-color: var(--field-input-disabled-text-color, $field-input-disabled-text-color);
    }

    &--readonly {
      cursor: default;

      &::placeholder {
        color: inherit;
      }
    }

    &--center,
    &--center input,
    &--center textarea {
      justify-content: center;
      text-align: center;
    }

    &--right,
    &--right input,
    &--right textarea {
      justify-content: flex-end;
      text-align: right;
    }

    &--custom {
      display: flex;
      align-items: center;
      min-height: var(--cell-line-height, $cell-line-height);
    }

    &--error,
    &__placeholder--error,
    &--error::placeholder {
      color: var(--field-input-error-text-color, $field-input-error-text-color);
      -webkit-text-fill-color: currentColor;
    }

    &--min-height {
      min-height: var(--field-text-area-min-height, $field-text-area-min-height);
    }

    // for ios wechat
    &[type='date'],
    &[type='time'],
    &[type='datetime-local'] {
      min-height: var(--cell-line-height, $cell-line-height);
    }

    // for safari
    &[type='search'] {
      appearance: none;
    }
  }

  &__clear,
  &__icon,
  &__button,
  &__right-icon {
    flex-shrink: 0;
  }

  &__clear,
  &__right-icon {
    padding: 0 var(--padding-xs, $padding-xs);
    margin-right: calc(var(--padding-xs, #{$padding-xs}) * -1);
    line-height: inherit;
  }

  &__clear {
    font-size: var(--field-clear-icon-size, $field-clear-icon-size);
    color: var(--field-clear-icon-color, $field-clear-icon-color);
    cursor: pointer;
  }

  &__icon.#{$component-prefix}icon,
  &__right-icon.#{$component-prefix}icon {
    display: block;
    font-size: var(--field-icon-size, $field-icon-size);
    line-height: inherit;
  }

  &__button {
    padding-left: var(--padding-xs, $padding-xs);
  }

  &__message {
    font-size: var(--field-error-message-font-size, $field-error-message-font-size);
    text-align: left;

    &--error {
      color: var(--field-error-message-color, $field-error-message-color);
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }
}
