@import "./variables";

.#{$component-prefix}field {

  &__label {
    box-sizing: border-box;
    flex: none;
    width: var(--field-label-width, $field-label-width);
    margin-right: var(--field-label-margin-right, $field-label-margin-right);
    color: var(--field-label-color, $field-label-color);
    text-align: left;
    word-wrap: break-word;

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &--required {
      &::before {
        margin-right: 2px * $hd;
        color: var(--field-required-color, $field-required-color);
        content: '*';
      }
    }
  }

  &--disabled {
    .#{$component-prefix}field__label {
      color: var(--field-disabled-color, $field-disabled-color);
    }
  }

  &__value {
    overflow: visible;
  }

  &__body {
    display: flex;
    align-items: center;
  }

  &__icon,
  &__right-icon {
    flex-shrink: 0;
  }

  &__right-icon {
    padding: 0 var(--padding-xs, $padding-xs);
    margin-right: calc(var(--padding-xs, #{$padding-xs}) * -1);
    line-height: inherit;
  }

  &__icon.#{$component-prefix}icon,
  &__right-icon.#{$component-prefix}icon {
    display: block;
    font-size: var(--field-icon-size, $field-icon-size);
    line-height: inherit;
  }

  .#{$component-prefix}input + .#{$component-prefix}button {
    margin-left: var(--padding-xs, $padding-xs);
    flex-shrink: 0;
  }

  &__explain {
    font-size: var(--field-explain-error-font-size, $field-explain-error-font-size);

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }

    &__error {
      color: var(--field-explain-error-color, $field-explain-error-color);
    }
  }
}
