@import "../styles/prefix";
@import "../styles/variables";

$slider-active-background-color: $primary-color;
$slider-inactive-background-color: $gray-3;
$slider-disabled-opacity: $disabled-opacity;
$slider-track-height: 2px * $hd;
$slider-thumb-width: 24px * $hd;
$slider-thumb-height: 24px * $hd;
$slider-thumb-border-radius: 50%;
$slider-thumb-background-color: $white;
$slider-thumb-box-shadow: 0 1px * $hd 2px * $hd rgba(0, 0, 0, 0.5);


