@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.checkbox-demo {

  .custom-color {
    .#{$component-prefix}checkbox__icon--checked {

      .#{$component-prefix}icon {
        border-color: #ee0a24;
        background: #ee0a24;
      }
    }
  }

  .basic-checkbox-group {
    .#{$component-prefix}checkbox {
      margin-bottom: 8px * 2;
    }
  }

  .horizontal-checkbox-group {
    .#{$component-prefix}checkbox {
      margin-right: 8px * 2;
    }
  }

  .checkbox-cell-group {
    .#{$demo-prefix}block__content {
      padding: 0;
    }
  }
}
