@import "~@taroify/core/styles/prefix";

.flex-demo {
  .#{$component-prefix}flex-item {
    height: 30px * 2;
    margin-bottom: 10px;
    font-size: 13px * 2;
    line-height: 30px * 2;
    color: #fff;
    text-align: center;
    background-clip: content-box;

    &:nth-child(odd) {
      background-color: #39a9ed;
    }

    &:nth-child(even) {
      background-color: #66c6f2;
    }
  }
}
