@import "../styles/prefix";
@import "../styles/variables";

$index-anchor-z-index: 1;
$index-anchor-padding: 0 $padding-md;
$index-anchor-text-color: $text-color;
$index-anchor-font-weight: $font-weight-bold;
$index-anchor-font-size: $font-size-md;
$index-anchor-line-height: 32px * $hd;
$index-anchor-background-color: transparent;
$index-anchor-sticky-text-color: $danger-color;
$index-anchor-sticky-background-color: $white;

$index-bar-sidebar-z-index: 2;
$index-bar-index-font-size: $font-size-xs;
$index-bar-index-line-height: $line-height-xs;
$index-bar-index-active-color: $danger-color;
