@use "./variables" as *;

.#{$component-prefix}index-list {
  &.inner {
    position: relative;
    height: 100%;
  }

  &_scroll {
    height: 100%;
    overflow: auto;
    overflow-anchor: auto;
  }

  // &_inner {
  //   position: relative;
  // }

  &__sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: $index-list-sidebar-z-index;
    display: flex;
    flex-direction: column;
    text-align: center;
    touch-action: none;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);

    &.inner {
      position: absolute;
    }
  }

  &__index {
    position: relative;
    padding: $index-list-index-padding;
    font-size: $index-list-index-font-size;
    font-weight: $index-list-index-font-weight;
    line-height: $index-list-index-line-height;

    &--active {
      color: $index-list-index-active-color;
    }
  }
}
