@import "./variables";

.#{$component-prefix}index-list {
  &__sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    z-index: $index-list-sidebar-z-index;
    display: flex;
    flex-direction: column;
    text-align: center;
    touch-action: none;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
  }

  &__index {
    position: relative;
    padding: 0 $padding-xs 0 $padding-md;
    font-size: $index-list-index-font-size;
    font-weight: $font-weight-bold;
    line-height: $index-list-index-line-height;

    &--active {
      color: $index-list-index-active-color;
    }
  }

  &__alert {
    position: absolute;
    top: -20px;
    right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px * $hd;
    height: 40px * $hd;
    background: #7f7f7f;
  }
}
