@import "./variables";

.#{$component-prefix}index-list__anchor {
  z-index: $index-anchor-z-index;
  box-sizing: border-box;
  padding: $index-anchor-padding;
  color: $index-anchor-text-color;
  font-weight: $index-anchor-font-weight;
  font-size: $index-anchor-font-size;
  line-height: $index-anchor-line-height;
  background-color: $index-anchor-background-color;

  &--sticky {
    right: 0;
    left: 0;
    color: $index-anchor-sticky-text-color;
    background-color: $index-anchor-sticky-background-color;
  }
}
