{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "prettier/prettier": "error",
    "quotes": [
      "error",
      "double"
    ],
    "import/order": [
      "error"
    ]
  }
}
