@import "../styles/prefix";
@import "../styles/variables";

$tree-select-font-size: $font-size-md;
$tree-select-sidebar-background-color: $background-color;

$tree-select-tab-padding: 14px * $hd $padding-sm;

$tree-select-content-background-color: $white;

$tree-select-option-height: 48px * $hd;
$tree-select-option-active-color: $danger-color;
$tree-select-option-disabled-color: $gray-5;
$tree-select-option-selected-size: 16px * $hd;
