@import "./variables";

.#{$component-prefix}tree-select-option {
  position: relative;
  padding: 0 32px * $hd 0 var(--padding-md, $padding-md);
  font-weight: var(--font-weight-bold, $font-weight-bold);
  line-height: var(--tree-select-option-height, $tree-select-option-height);
  cursor: pointer;

  &--active {
    color: var(--tree-select-option-active-color, $tree-select-option-active-color);

    .#{$component-prefix}tree-select-option__icon {
      position: absolute;
      top: 50%;
      right: var(--padding-md, $padding-md);
      margin-top: calc(var(--padding-xs, #{$padding-xs}) * -1);
      font-size: var(--tree-select-option-selected-size, $tree-select-option-selected-size);
    }
  }

  &:active {
    background-color: var(--active-color, $active-color);
  }

  &--disabled {
    color: var(--tree-select-option-disabled-color, $tree-select-option-disabled-color);
    cursor: not-allowed;

    &:active {
      background-color: transparent;
    }
  }
}
