@import "../styles/prefix";
@import "../styles/variables";

$number-keyboard-background-color: var(--gray-2, $gray-2);
$number-keyboard-key-height: 48px * $hd;
$number-keyboard-key-font-size: 28px * $hd;
$number-keyboard-key-keyboard-hide-font-size: 24px * $hd;
$number-keyboard-key-backspace-font-size: 22px * $hd;
$number-keyboard-key-active-color: var(--gray-3, $gray-3);
$number-keyboard-delete-font-size: var(--font-size-lg, $font-size-lg);
$number-keyboard-title-color: var(--gray-7, $gray-7);
$number-keyboard-title-height: 34px * $hd;
$number-keyboard-title-font-size: var(--font-size-lg, $font-size-lg);
$number-keyboard-hide-padding: 0 var(--padding-md, $padding-md);
$number-keyboard-hide-color: var(--text-link-color, $text-link-color);
$number-keyboard-hide-font-size: var(--font-size-md, $font-size-md);
$number-keyboard-button-text-color: var(--white, $white);
$number-keyboard-button-background-color: var(--primary-color, $primary-color);
$number-keyboard-z-index: 100;