@import "./variables";

.#{$component-prefix}number-keyboard {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--number-keyboard-z-index, $number-keyboard-z-index);
  width: 100%;
  padding-bottom: 22px * $hd;
  user-select: none;
  background-color: var(--number-keyboard-background-color, $number-keyboard-background-color);

  &--with-title {
    border-radius: 20px * $hd 20px * $hd 0 0;
  }

  &__header {
    position: relative;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--number-keyboard-title-height, $number-keyboard-title-height);
    padding-top: 6px * $hd;
    font-size: var(--number-keyboard-title-font-size, $number-keyboard-title-font-size);
    color: var(--number-keyboard-title-color, $number-keyboard-title-color);
  }

  &__title {
    display: inline-block;
    font-weight: normal;

    &-left {
      position: absolute;
      left: 0;
    }
  }

  &__body {
    display: flex;
    padding: 6px * $hd 0 0 6px * $hd;
  }

  &__keys {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
  }

  &__hide {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: var(--number-keyboard-hide-padding, $number-keyboard-hide-padding);
    font-size: var(--number-keyboard-hide-font-size, $number-keyboard-hide-font-size);
    color: var(--number-keyboard-hide-color, $number-keyboard-hide-color);
    cursor: pointer;
    background-color: transparent;
    border: 0 none;

    &:active {
      opacity: $active-opacity;
    }
  }

  &__sidebar {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  &--unfit {
    padding-bottom: 0;
  }
}