@import "./variables";

.#{$component-prefix}key {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--number-keyboard-key-height, $number-keyboard-key-height);
  font-size: var(--number-keyboard-key-font-size, $number-keyboard-key-font-size);
  line-height: 1.5;
  cursor: pointer;
  background-color: var(--white, $white);
  border-radius: var(--border-radius-lg, $border-radius-lg);

  &--large {
    // height: 100% can't fill flex parent on legacy safari
    // see: https://stackoverflow.com/questions/33636796
    position: absolute;
    top: 0;
    right: 6px * $hd;
    bottom: 6px * $hd;
    left: 0;
    height: auto;
    font-size: var(--number-keyboard-delete-font-size, $number-keyboard-delete-font-size);
  }

  &--active {
    background-color: var(--number-keyboard-key-active-color, $number-keyboard-key-active-color);
  }

  &--blue {
    color: var(--number-keyboard-button-text-color, $number-keyboard-button-text-color);
    background-color: var(--number-keyboard-button-background-color, $number-keyboard-button-background-color);

    &.#{$component-prefix}key--active {
      opacity: var(--active-opacity, $active-opacity);
    }
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    flex: 1;
    flex-basis: 33%;
    padding: 0 6px * $hd 6px * $hd 0;

    &--wider {
      flex-basis: 66%;
    }
  }

  .#{$component-prefix}keyboard-hide {
    font-size: var(--number-keyboard-key-keyboard-hide-font-size, $number-keyboard-key-keyboard-hide-font-size);
  }

  .#{$component-prefix}backspace {
    font-size: var(--number-keyboard-key-backspace-font-size, $number-keyboard-key-backspace-font-size);
  }

  &__loading-icon {
    color: var(--number-keyboard-button-text-color, $number-keyboard-button-text-color);
  }
}
