@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.dropdown-menu-demo {
  .#{$demo-prefix}block__content {
    padding: 0;
  }

.custom-color {
  .#{$component-prefix}dropdown-menu-title--active {
    .#{$component-prefix}dropdown-menu-title__content {
      color: #1989fa;
    }
  }

  .#{$component-prefix}dropdown-menu-option--active {
    color: #1989fa;
    .#{$component-prefix}dropdown-menu-option__icon {
      color: #1989fa;
    }
  }
}
}
