@import "../styles/prefix";
@import "../styles/variables";
@import "../styles/hairline";

$divider-margin: $padding-md 0;
$divider-text-color: $gray-6;
$divider-font-size: $font-size-md;
$divider-line-height: 24px * $hd;
$divider-border-color: $border-color;
$divider-content-padding: $padding-md;
$divider-content-left-width: 10%;
$divider-content-right-width: 10%;
