/* stylelint-disable selector-class-pattern */
.ContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .ContentBlock {
    width: 120px;
    height: 120px;
    background-color: #fff;
  }
}

/* stylelint-enable selector-class-pattern */
