@import "../styles/prefix";
@import "../styles/variables";

$search-padding: 10px * $hd var(--padding-sm, $padding-sm);
$search-background-color: var(--white, $white);
$search-content-background-color: var(--gray-1, $gray-1);
$search-input-height: 34px * $hd;
$search-label-padding: 0 5px * $hd;
$search-label-color: var(--text-color, $text-color);
$search-label-font-size: var(--font-size-md, $font-size-md);
$search-left-icon-color: var(--gray-6, $gray-6);
$search-action-padding: 0 var(--padding-xs, $padding-xs);
$search-action-text-color: var(--text-color, $text-color);
$search-action-font-size: var(--font-size-md, $font-size-md);
