@import "./variables";

.#{$component-prefix}search {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--search-padding, $search-padding);
  background-color: var(--search-background-color, $search-background-color);

  &__content {
    display: flex;
    flex: 1;
    padding-left: var(--padding-sm, $padding-sm);
    background-color: var(--search-content-background-color, $search-content-background-color);
    border-radius: var(--border-radius-sm, $border-radius-sm);

    &--round {
      border-radius: var(--border-radius-max, $border-radius-max);
    }
  }

  &__label {
    padding: var(--search-label-padding, $search-label-padding);
    font-size: var(--search-label-font-size, $search-label-font-size);
    line-height: var(--search-input-height, $search-input-height);
    color: var(--search-label-color, $search-label-color);
  }

  &__field {
    flex: 1;
    padding: 5px * $hd var(--padding-xs, $padding-xs) 5px * $hd 0;
    background-color: transparent;

    .#{$component-prefix}field__icon {
      color: var(--search-left-icon-color, $search-left-icon-color);
    }
  }

  &--action {
    padding-right: 0;
  }

  input {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &__action {
    padding: var(--search-action-padding, $search-action-padding);
    font-size: var(--search-action-font-size, $search-action-font-size);
    line-height: var(--search-input-height, $search-input-height);
    color: var(--search-action-text-color, $search-action-text-color);
    cursor: pointer;
    user-select: none;

    &:active, &--hover {
      background-color: var(--active-color, $active-color);
    }
  }
}
