@import "../styles/prefix";
@import "../styles/variables";

$popup-z-index: 1010;
$popup-background-color: var(--background-color-light, $background-color-light);
//$popup-transition: transform var(--animation-duration-base, $animation-duration-base);
$popup-animation-duration: var(--popup-animation-duration, var(--animation-duration-base, $animation-duration-base));
$popup-round-border-radius: 16px * $hd;
// close icon
$popup-close-icon-size: 22px * $hd;
$popup-close-icon-color: var(--gray-5, $gray-5);
$popup-close-icon-active-color: var(--gray-6, $gray-6);
$popup-close-icon-margin: 16px * $hd;
$popup-close-icon-z-index: 1;
