@import "./variables";

.#{$component-prefix}popup {
  position: fixed;
  z-index: var(--popup-z-index, $popup-z-index);
  max-height: 100%;
  overflow-y: auto;
  background: var(--popup-background-color, $popup-background-color);
  animation-duration: $popup-animation-duration;
  -webkit-overflow-scrolling: touch;

  &--center {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &--top {
    top: 0;
    left: 0;
    width: 100%;

    &.#{$component-prefix}popup--rounded {
      border-radius: 0 0 var(--popup-round-border-radius, $popup-round-border-radius) var(--popup-round-border-radius, $popup-round-border-radius);
    }
  }

  &--bottom {
    bottom: 0;
    left: 0;
    width: 100%;

    &.#{$component-prefix}popup--rounded {
      border-radius: var(--popup-round-border-radius, $popup-round-border-radius) var(--popup-round-border-radius, $popup-round-border-radius) 0 0;
    }
  }

  &--right {
    top: 50%;
    right: 0;
    transform: translate3d(0, -50%, 0);

    &.#{$component-prefix}popup--rounded {
      border-radius: var(--popup-round-border-radius, $popup-round-border-radius) 0 0 var(--popup-round-border-radius, $popup-round-border-radius);
    }

    &.#{$component-prefix}transition-slide-right {

      @keyframes #{$component-prefix}slide-right-enter {
        from {
          transform: translate3d(100%, -50%, 0);
        }
      }

      @keyframes #{$component-prefix}slide-right-exit {
        to {
          transform: translate3d(100%, -50%, 0);
        }
      }
    }
  }

  &--left {
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);

    &.#{$component-prefix}popup--rounded {
      border-radius: 0 var(--popup-round-border-radius, $popup-round-border-radius) var(--popup-round-border-radius, $popup-round-border-radius) 0;
    }

    &.#{$component-prefix}transition-slide-left {

      @keyframes #{$component-prefix}slide-left-enter {
        from {
          transform: translate3d(-100%, -50%, 0);
        }
      }

      @keyframes #{$component-prefix}slide-left-exit {
        to {
          transform: translate3d(-100%, -50%, 0);
        }
      }
    }
  }

  &__close-icon {
    position: absolute;
    z-index: var(--popup-close-icon-z-index, $popup-close-icon-z-index);
    color: var(--popup-close-icon-color, $popup-close-icon-color);
    cursor: pointer;
    size: var(--popup-close-icon-size, $popup-close-icon-size);

    &:active {
      color: var(--popup-close-icon-active-color, $popup-close-icon-active-color);
    }

    &--top-left {
      top: var(--popup-close-icon-margin, $popup-close-icon-margin);
      left: var(--popup-close-icon-margin, $popup-close-icon-margin);
    }

    &--top-right {
      top: var(--popup-close-icon-margin, $popup-close-icon-margin);
      right: var(--popup-close-icon-margin, $popup-close-icon-margin);
    }

    &--bottom-left {
      bottom: var(--popup-close-icon-margin, $popup-close-icon-margin);
      left: var(--popup-close-icon-margin, $popup-close-icon-margin);
    }

    &--bottom-right {
      right: var(--popup-close-icon-margin, $popup-close-icon-margin);
      bottom: var(--popup-close-icon-margin, $popup-close-icon-margin);
    }
  }
}
