@import "./variables";

.#{$component-prefix}popup {
  position: fixed;
  max-height: 100%;
  overflow-y: auto;
  background-color: #fff;
  z-index: $popup-z-index;

  &--center {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  &--top {
    top: 0;
    left: 0;
    width: 100%;

    &.#{$component-prefix}popup--rounded {
      border-radius: 0 0 $popup-round-border-radius $popup-round-border-radius;
    }
  }

  &--bottom {
    bottom: 0;
    left: 0;
    width: 100%;

    &.#{$component-prefix}popup--rounded {
      border-radius: $popup-round-border-radius $popup-round-border-radius 0 0;
    }
  }

  &--right {
    top: 50%;
    right: 0;
    transform: translate3d(0, -50%, 0);

    &.#{$component-prefix}popup--rounded {
      border-radius: $popup-round-border-radius 0 0 $popup-round-border-radius;
    }

    &.#{$component-prefix}transition-slide-right {
      &-enter {
        transform: translate3d(100%, -50%, 0);
      }

      &-enter-active {
        transform: translate3d(0, -50%, 0);
        transition-property: opacity, transform;
        transition-timing-function: ease;
      }

      &-exit {
        transform: translate3d(0, -50%, 0);
      }

      &-exit-active {
        transform: translate3d(100%, -50%, 0);
        transition-property: opacity, transform;
        transition-timing-function: ease;
      }
    }
  }

  &--left {
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);

    &.#{$component-prefix}popup--rounded {
      border-radius: 0 $popup-round-border-radius $popup-round-border-radius 0;
    }

    &.#{$component-prefix}transition-slide-left {
      &-enter {
        transform: translate3d(-100%, -50%, 0);
      }

      &-enter-active {
        transform: translate3d(0, -50%, 0);
        transition-property: opacity, transform;
        transition-timing-function: ease;
      }

      &-exit {
        transform: translate3d(0, -50%, 0);
      }

      &-exit-active {
        transform: translate3d(-100%, -50%, 0);
        transition-property: opacity, transform;
        transition-timing-function: ease;
      }
    }
  }

  &__close-icon {
    position: absolute;
    z-index: $popup-close-icon-z-index;
    color: $popup-close-icon-color;
    size: $popup-close-icon-size;
    cursor: pointer;

    &:active {
      color: $popup-close-icon-active-color;
    }

    &--top-left {
      top: $popup-close-icon-margin;
      left: $popup-close-icon-margin;
    }

    &--top-right {
      top: $popup-close-icon-margin;
      right: $popup-close-icon-margin;
    }

    &--bottom-left {
      bottom: $popup-close-icon-margin;
      left: $popup-close-icon-margin;
    }

    &--bottom-right {
      right: $popup-close-icon-margin;
      bottom: $popup-close-icon-margin;
    }
  }
}
