@import "./variables";

.#{$component-prefix}list {
  &__loading,
  &__finished,
  &__error {
    font-size: var(--list-text-font-size, $list-text-font-size);
    line-height: var(--list-text-line-height, $list-text-line-height);
    color: var(--list-text-color, $list-text-color);
    text-align: center;
  }

  &__placeholder {
    font-size: var(--list-text-font-size, $list-text-font-size);
    line-height: var(--list-text-line-height, $list-text-line-height);
    color: var(--list-text-color, $list-text-color);
    text-align: center;

    .#{$component-prefix}loading__spinner,
    .#{$component-prefix}loading__circular {
      width: var(--list-loading-icon-size, $list-loading-icon-size);
      height: var(--list-loading-icon-size, $list-loading-icon-size);
    }
  }

  &__edge {
    height: 0;
    pointer-events: none;
  }
}
