@import "../styles/prefix";
@import "../styles/variables";
@import "../styles/mixins/hairline";

$cell-font-size: $font-size-md;
$cell-line-height: 24px * $hd;

$cell-border-color: $border-color;
$cell-value-color: $gray-6;
$cell-active-color: $active-color;

$cell-icon-size: 16px * $hd;
$cell-start-icon-margin-left: 4px * $hd;
$cell-end-icon-margin-right: 4px * $hd;

$cell-brief-color: $gray-6;
$cell-brief-font-size: $font-size-sm;
$cell-brief-line-height: $line-height-sm;
$cell-brief-margin-top: $padding-base;

$cell-vertical-padding: 10px * $hd;
$cell-horizontal-padding: $padding-md;

$cell-medium-vertical-padding: $padding-sm;
$cell-medium-title-font-size: $font-size-lg;
$cell-medium-title-font-size: $font-size-md;

$cell-large-vertical-padding: $padding-sm;
$cell-large-title-font-size: $font-size-lg;
$cell-large-subtitle-font-size: $font-size-md;

$cell-group-background-color: $white;
$cell-group-title-color: $gray-6;
$cell-group-title-padding: $padding-md $padding-md $padding-xs;
$cell-group-title-font-size: $font-size-md;
$cell-group-title-line-height: 16px * $hd;

