@import "./variables";

.#{$component-prefix}cell {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: $cell-vertical-padding $cell-horizontal-padding;
  overflow: hidden;
  color: $text-color;
  font-size: $cell-font-size;
  line-height: $cell-line-height;
  background-color: #fff;

  &__label {
    flex: 1;
  }

  &::after {
    @include hairline-bottom($cell-border-color, $padding-sm, $padding-sm);
  }

  &:last-child::after,
  &-borderless::after {
    display: none;
  }

  /* &--borderless {

  } */

  &--start {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }

  &--end {
    align-items: flex-end;
  }

  &--large {
    padding-top: $cell-large-vertical-padding;
    padding-bottom: $cell-large-vertical-padding;

    .#{$component-prefix}cell__label {
      font-size: $cell-large-label-font-size;
    }

    .#{$component-prefix}cell__description {
      font-size: $cell-large-description-font-size;
    }
  }

  &__description {
    color: $cell-description-color;
    font-size: $cell-description-font-size;
    line-height: $cell-description-line-height;
    margin-top: $cell-description-margin-top;
  }

  &--clickable {
    cursor: pointer;

    &:active {
      background-color: $cell-active-color;
    }
  }

  &__value {
    color: $cell-value-color;
    text-align: right;
    flex: 1;

    &--alone {
      color: $text-color;
      text-align: left;
    }
  }

  &__start-icon,
  &__end-icon {
    height: $cell-line-height;
    font-size: $cell-icon-size;
    line-height: $cell-line-height;
  }

  &__start-icon {
    display: flex;
    align-items: center;
    margin-right: $cell-start-icon-margin-left;
  }

  &__end-icon {
    display: flex;
    align-items: center;
    margin-left: $cell-end-icon-margin-right;
    color: $cell-value-color;
  }
}
