@import "./variables";

.#{$component-prefix}cell {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: $cell-vertical-padding $cell-horizontal-padding;
  overflow: hidden;
  font-size: $cell-font-size;
  line-height: $cell-line-height;
  color: $text-color;
  background-color: #fff;

  &__title {
    flex: 1;
  }

  &__subtitle {
    margin-top: $cell-subtitle-margin-top;
    font-size: $cell-subtitle-font-size;
    line-height: $cell-subtitle-line-height;
    color: $cell-subtitle-color;
  }

  &::after {
    @include hairline-bottom($cell-border-color, $padding-sm, $padding-sm);
  }

  &:last-child::after,
  &-borderless::after {
    display: none;
  }

  /* &--borderless {

  } */

  &--start {
    align-items: flex-start;
  }

  &--center {
    align-items: center;
  }

  &--end {
    align-items: flex-end;
  }

  &--large {
    padding-top: $cell-large-vertical-padding;
    padding-bottom: $cell-large-vertical-padding;

    .#{$component-prefix}cell__title {
      font-size: $cell-large-title-font-size;
    }

    .#{$component-prefix}cell__subtitle {
      font-size: $cell-large-subtitle-font-size;
    }
  }

  &--clickable {
    cursor: pointer;

    &:active {
      background-color: $cell-active-color;
    }
  }

  &__value {
    flex: 1;
    color: $cell-value-color;
    text-align: right;

    &--alone {
      color: $text-color;
      text-align: left;
    }
  }

  &__start-icon,
  &__end-icon {
    height: $cell-line-height;
    font-size: $cell-icon-size;
    line-height: $cell-line-height;
  }

  &__start-icon {
    display: flex;
    align-items: center;
    margin-right: $cell-start-icon-margin-left;
  }

  &__end-icon {
    display: flex;
    align-items: center;
    margin-left: $cell-end-icon-margin-right;
    color: $cell-value-color;
  }
}
