@import "./variables";

.#{$component-prefix}cell-group {
  background: $cell-group-background-color;

  &--inset {
    margin: $cell-group-inset-padding;
    overflow: hidden;
    border-radius: $cell-group-inset-border-radius;
  }

  &__title {
    padding: $cell-group-title-padding;
    font-size: $cell-group-title-font-size;
    line-height: $cell-group-title-line-height;
    color: $cell-group-title-color;

    &--inset {
      padding: $cell-group-inset-title-padding;
    }
  }
}
