@import "./variables";

.#{$component-prefix}cell-group {
  background-color: $cell-group-background-color;

  &__title {
    padding: $cell-group-title-padding;
    font-size: $cell-group-title-font-size;
    line-height: $cell-group-title-line-height;
    color: $cell-group-title-color;
  }
}
