@import "../styles/prefix";
@import "../styles/variables";

$tag-padding: var(--tag-padding, 0 var(--padding-base, $padding-base));
$tag-color: var(--tag-color, var(--white, $white));
$tag-font-size: var(--tag-font-size, var(--font-size-sm, $font-size-sm));
$tag-border-radius: var(--tag-border-radius, 2px * $hd);
$tag-line-height: var(--tag-line-height, 16px * $hd);
$tag-medium-padding: var(--tag-medium-padding, 2px * $hd 6px * $hd);
$tag-large-padding: var(--tag-large-padding, var(--padding-base, $padding-base) var(--padding-xs, $padding-xs));
$tag-large-border-radius: var(--tag-large-border-radius, var(--border-radius-md, $border-radius-md));
$tag-large-font-size: var(--tag-large-font-size, var(--font-size-md, $font-size-md));
$tag-rounded-border-radius: var(--tag-rounded-border-radius, var(--border-radius-max, $border-radius-max));
// Default RoundRight, RoundLeft
$tag-rounded-right-padding: var(--tag-rounded-right-padding, 0 ($padding-base + 2px * $hd) 0 var(--padding-base, $padding-base));
$tag-rounded-left-padding: var(--tag-rounded-left-padding, 0 var(--padding-base, $padding-base) 0 ($padding-base + 2px * $hd));
// Medium RoundRight, RoundLeft
$tag-rounded-right-medium-padding: var(--tag-rounded-right-medium-padding, 2px * $hd 8px * $hd 2px * $hd 6px * $hd);
$tag-rounded-left-medium-padding: var(--tag-rounded-left-medium-padding, 2px * $hd 6px * $hd 2px * $hd 8px * $hd);
// Large RoundRight, RoundLeft
$tag-rounded-right-large-padding: var(--tag-rounded-right-large-padding, var(--padding-base, $padding-base) ($padding-xs + 2px * $hd) var(--padding-base, $padding-base) var(--padding-xs, $padding-xs));
$tag-rounded-left-large-padding: var(--tag-rounded-left-large-padding, var(--padding-base, $padding-base) var(--padding-xs, $padding-xs) var(--padding-base, $padding-base) ($padding-xs + 2px * $hd));
// Color
$tag-default-color: var(--tag-default-color, var(--gray-6, $gray-6));
$tag-default-background-color: var(--tag-default-background-color, var(--gray-6, $gray-6));
$tag-primary-color: var(--tag-primary-color, var(--primary-color, $primary-color));
$tag-primary-background-color: var(--tag-primary-background-color, var(--primary-color, $primary-color));
$tag-info-color: var(--tag-info-color, var(--info-color, $info-color));
$tag-info-background-color: var(--tag-info-background-color, var(--info-color, $info-color));
$tag-success-color: var(--tag-success-color, var(--success-color, $success-color));
$tag-success-background-color: var(--tag-success-background-color, var(--success-color, $success-color));
$tag-warning-color: var(--tag-warning-color, var(--warning-color, $warning-color));
$tag-warning-background-color: var(--tag-warning-background-color, var(--warning-color, $warning-color));
$tag-danger-color: var(--tag-danger-color, var(--danger-color, $danger-color));
$tag-danger-background-color: var(--tag-danger-background-color, var(--danger-color, $danger-color));
$tag-outlined-background-color: var(--tag-outlined-background-color, var(--white, $white));
