$vant-black: #323233;
$vant-blue: #1989fa;
$vant-purple: #8080ff;
$vant-fuchsia: #a7419e;
$vant-green: #4fc08d;
$vant-text-color: #34495e;
$vant-text-light-blue: rgba(69, 90, 100, 0.6);
$vant-background-color: #f7f8fa;
$vant-grey: #999;
$vant-dark-grey: #666;
$vant-light-grey: #ccc;
$vant-border-color: #f1f4f8;
$vant-code-color: #58727e;
$vant-code-background-color: #f1f4f8;
$vant-code-font-family: 'Source Code Pro', 'Monaco', 'Inconsolata', monospace;
$vant-padding: 24px;
$vant-row-max-width: 1680px;
$vant-nav-width: 220px;
$vant-border-radius: 20px;
