@import "./variables";

.#{$component-prefix}password-input {
  position: relative;
  margin: $password-input-margin;
  user-select: none;

  &__info {
    margin-top: $padding-md;
    font-size: $password-input-info-font-size;
    color: $password-input-info-color;
    text-align: center;
  }

  &__info--error {
    color: $password-input-error-info-color;
  }

  &__security {
    display: flex;
    width: 100%;
    height: $password-input-height;
    cursor: pointer;

    &::after {
      border-radius: $password-input-border-radius;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: $password-input-font-size;
    line-height: 1.2;
    background-color: $password-input-background-color;

    &--mask {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $password-input-dot-size;
      height: $password-input-dot-size;
      visibility: hidden;
      background-color: $password-input-dot-color;
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $password-input-cursor-width;
    height: $password-input-cursor-height;
    background-color: $password-input-cursor-color;
    transform: translate(-50%, -50%);
    animation: $password-input-cursor-animation-duration van-cursor-flicker infinite;
  }
}

@keyframes van-cursor-flicker {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
