@import "./variables";

.#{$component-prefix}password-input {
  position: relative;
  margin: var(--password-input-margin, $password-input-margin);
  user-select: none;

  &__info {
    margin-top: var(--padding-md, $padding-md);
    font-size: var(--password-input-info-font-size, $password-input-info-font-size);
    color: var(--password-input-info-color, $password-input-info-color);
    text-align: center;
  }

  &__info--error {
    color: var(--password-input-error-info-color, $password-input-error-info-color);
  }

  &__security {
    display: flex;
    width: 100%;
    height: var(--password-input-height, $password-input-height);
    cursor: pointer;

    &::after {
      border-radius: var(--password-input-border-radius, $password-input-border-radius);
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: var(--password-input-font-size, $password-input-font-size);
    line-height: 1.2;
    background-color: var(--password-input-background-color, $password-input-background-color);

    &--mask {
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--password-input-dot-size, $password-input-dot-size);
      height: var(--password-input-dot-size, $password-input-dot-size);
      visibility: hidden;
      background-color: var(--password-input-dot-color, $password-input-dot-color);
      border-radius: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--password-input-cursor-width, $password-input-cursor-width);
    height: var(--password-input-cursor-height, $password-input-cursor-height);
    background-color: var(--password-input-cursor-color, $password-input-cursor-color);
    transform: translate(-50%, -50%);
    animation: var(--password-input-cursor-animation-duration, $password-input-cursor-animation-duration) #{$component-prefix}cursor-flicker infinite;
  }
}

@keyframes #{$component-prefix}cursor-flicker {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
