@import "./variables";

.#{$component-prefix}password-input__feedback {
  margin-top: $password-input-feedback-margin-top;
  font-size: $password-input-feedback-font-size;
  color: $password-input-feedback-color;
  text-align: center;

  &--primary {
    color: $password-input-feedback-primary-color;
  }

  &--info {
    color: $password-input-feedback-info-color;
  }

  &--success {
    color: $password-input-feedback-success-color;
  }

  &--warning {
    color: $password-input-feedback-warning-color;
  }

  &--danger {
    color: $password-input-feedback-danger-color;
  }
}
