@import "./variables";

.#{$component-prefix}popover {
  position: absolute;
  overflow: visible;
  background-color: transparent;
  transition: opacity 0.15s, transform 0.15s;

  &__wrapper {
    display: inline-block;
  }

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: $popover-arrow-size;
  }

  &__content {
    overflow: hidden;
    border-radius: $popover-border-radius;
  }

  &--light {
    color: $popover-light-text-color;

    .#{$component-prefix}popover {
      &__content {
        background-color: $popover-light-background-color;
        box-shadow: 0 2px 12px rgba(50, 50, 51, 0.12);
      }

      &__arrow {
        color: $popover-light-background-color;
      }

      &__action {
        &:active {
          background-color: $active-color;
        }

        &--disabled {
          color: $popover-light-action-disabled-text-color;
          cursor: not-allowed;

          &:active {
            background-color: transparent;
          }
        }
      }
    }
  }

  &-zoom-enter-from,
  &-zoom-leave-active {
    opacity: 0;
    transform: scale(0.8);
  }

  &-zoom-enter-active {
    transition-timing-function: $animation-timing-function-enter;
  }

  &-zoom-leave-active {
    transition-timing-function: $animation-timing-function-leave;
  }
}
