@import "../styles/prefix";
@import "../styles/variables";

$step-text-color: var(--gray-6, $gray-6);
$step-active-color: var(--green, $green);
$step-process-text-color: var(--text-color, $text-color);
$step-font-size: var(--font-size-md, $font-size-md);
$step-line-color: var(--border-color, $border-color);
$step-completed-line-color: var(--green, $green);
$step-completed-text-color: var(--text-color, $text-color);
$step-icon-size: 12px * $hd;
$step-circle-size: 5PX;
$step-circle-color: var(--gray-6, $gray-6);
$step-horizontal-title-font-size: var(--font-size-sm, $font-size-sm);

$steps-background-color: var(--white, $white);

