@import './variables';

.#{$component-prefix}step {
  position: relative;
  flex: 1;
  font-size: var(--step-font-size, $step-font-size);
  color: var(--step-text-color, $step-text-color);

  &__circle {
    display: block;
    width: var(--step-circle-size, $step-circle-size);
    height: var(--step-circle-size, $step-circle-size);
    margin: 3px * $hd;
    background-color: var(--step-circle-color, $step-circle-color);
    border-radius: 50%;
  }

  &__line {
    position: absolute;
    background-color: var(--step-line-color, $step-line-color);
    transition: background-color var(--animation-duration-base, $animation-duration-base);
  }

  &--horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:last-child {
      .#{$component-prefix}step__line {
        width: 0;
      }
    }

    .#{$component-prefix}step__circle-container {
      z-index: 2;
      padding: 0 var(--padding-xs, $padding-xs);
      margin-top: 8px * $hd;
      background: $white;
    }

    .#{$component-prefix}step__circle {
      position: relative;
      bottom: 1px;
    }

    .#{$component-prefix}step__label {
      display: inline-block;
      font-size: var(--step-horizontal-title-font-size, $step-horizontal-title-font-size);

      @media (max-width: 321px) {
        font-size: var(--step-horizontal-title-font-size, $step-horizontal-title-font-size) - 1px * $hd;
      }
    }

    .#{$component-prefix}step__line {
      bottom: 5px * $hd + 1px;
      left: 50%;
      width: 100%;
      height: 1px * $hd;
    }

    .#{$component-prefix}step__icon {
      display: block;
      font-size: var(--step-icon-size, $step-icon-size);
    }

    .#{$component-prefix}step--process {
      color: var(--step-process-text-color, $step-process-text-color);
    }
  }

  &--alternative-label {
    flex-direction: column-reverse;

    .#{$component-prefix}step__circle-container {
      margin-top: 0;
    }

    .#{$component-prefix}step__circle {
      bottom: 0;
    }

    .#{$component-prefix}step__label {
      margin-top: 8px * $hd;
    }

    .#{$component-prefix}step__line {
      top: 5px * $hd + 1px;
      bottom: 0;
    }
  }

  &--vertical {
    display: block;
    float: none;
    padding: 10px * $hd 10px * $hd 10px * $hd 0;
    line-height: var(--line-height-sm, $line-height-sm);

    &:not(:last-child)::after {
      border-bottom-width: 1px * $hd;
    }

    &:first-child {
      &::before {
        position: absolute;
        top: 0;
        left: -16px * $hd;
        z-index: 1;
        width: 1px * $hd;
        height: 20px * $hd;
        content: '';
        background-color: var(--white, $white);
      }
    }

    .#{$component-prefix}step__circle-container {
      position: absolute;
      top: 19px * $hd;
      left: -16px * $hd;
      z-index: 2;
      font-size: var(--step-icon-size, $step-icon-size);
      line-height: 1;
      transform: translate(-50%, -50%);
    }

    .#{$component-prefix}step__line {
      top: 16px * $hd;
      left: -16px * $hd + -0.5px;
      width: 1px * $hd;
      height: 100%;
    }

    &:last-child {
      .#{$component-prefix}step__line {
        width: 0;
      }
    }
  }

  &--completed {
    color: var(--step-completed-text-color, $step-completed-text-color);

    .#{$component-prefix}step__circle,
    .#{$component-prefix}step__line {
      background-color: var(--step-completed-line-color, $step-completed-line-color);
    }

    .#{$component-prefix}step__icon {
      color: var(--step-active-color, $step-active-color);
    }
  }

  &--active {
    color: var(--step-completed-text-color, $step-completed-text-color);

    .#{$component-prefix}step__circle {
      background-color: var(--step-active-color, $step-active-color);
    }

    .#{$component-prefix}step__icon,
    .#{$component-prefix}step__label {
      color: var(--step-active-color, $step-active-color);
    }
  }

  &__icon,
  &__label {
    transition: color $animation-duration-base;
  }
}
