@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.switch-demo {

  .switch-with-cell {
    .#{$demo-prefix}block__content {
      padding: 0;
    }
  }

  .custom-color.#{$component-prefix}switch {
    background: #dcdee0;

    &--checked {
      background: #ee0a24;

      .#{$component-prefix}switch__loading {
        color: #ee0a24;
      }
    }
  }
}
