@import "../styles/prefix";
@import "../styles/variables";
@import "../cell/variables";

$input-height: var(--input-height, 24px * $hd);
$input-line-height: var(--input-line-height, 24px * $hd);
$input-font-size: var(--input-font-size, var(--font-size-md, $font-size-md));

$input-color: var(--input-color, var(--text-color, $text-color));
$input-primary-color: var(--input-primary-color, var(--primary-color, $primary-color));
$input-info-color: var(--input-info-color, var(--info-color, $info-color));
$input-success-color: var(--input-success-color, var(--success-color, $success-color));
$input-warning-color: var(--input-warning-color, var(--warning-color, $warning-color));
$input-danger-color: var(--input-danger-color, var(--danger-color, $danger-color));

$input-disabled-color: var(--input-disabled-color, var(--text-color-3, $text-color-3));
$input-placeholder-color: var(--input-placeholder-color, var(--text-color-3, $text-color-3));
$input-clear-icon-size: var(--input-clear-icon-size, 16px * $hd);
$input-clear-icon-color: var(--input-clear-icon-color, var(--gray-5, $gray-5));
