@import "./variables";

.#{$component-prefix}input {

  &, // For wechat
  & > input // For h5
  {
    height: $input-height;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 0; // for flex-shrink in field__button
    padding: 0;
    margin: 0;
    line-height: inherit;
    color: $input-color;
    resize: none;
    background-color: transparent;
    border: 0;
    outline: none;

    // for ios wechat
    &[type='date'],
    &[type='time'],
    &[type='datetime-local'] {
      min-height: var(--cell-line-height, $cell-line-height);
    }

    // for safari
    &[type='search'] {
      appearance: none;
    }
  }

  &__placeholder, // For wechat
  & > input::placeholder // For h5
  {
    color: var(--input-placeholder-color, $input-placeholder-color);
  }

  &--readonly {
    cursor: default;
  }

  &--disabled {
    color: var(--input-disabled-color, $input-disabled-color);
    cursor: not-allowed;
    opacity: 1;
    // fix disabled color in mobile safari
    -webkit-text-fill-color: var(--input-disabled-color, $input-disabled-color);
  }

  &--primary,
  &--primary::placeholder,
  &__placeholder--primary,
  &--primary > input, // For h5
  &--primary > input::placeholder {
    color: var(--input-primary-color, $input-primary-color);
  }

  &--info,
  &--info::placeholder,
  &__placeholder--info,
  &--info > input, // For h5
  &--info > input::placeholder {
    color: var(--input-info-color, $input-info-color);
  }

  &--success,
  &--success::placeholder,
  &__placeholder--success,
  &--success > input, // For h5
  &--success > input::placeholder {
    color: var(--input-success-color, $input-success-color);
  }

  &--warning,
  &--warning::placeholder,
  &__placeholder--warning,
  &--warning > input, // For h5
  &--warning > input::placeholder {
    color: var(--input-warning-color, $input-warning-color);
  }

  &--danger,
  &--danger::placeholder,
  &__placeholder--danger,
  &--danger > input, // For h5
  &--danger > input::placeholder {
    color: var(--input-danger-color, $input-danger-color);
  }

  &--left,
  &--left > input // For h5
  {
    justify-content: flex-start;
    text-align: left;
  }

  &--center,
  &--center > input // For h5
  {
    justify-content: center;
    text-align: center;
  }

  &--right,
  &--right > input // For h5
  {
    justify-content: flex-end;
    text-align: right;
  }

  &__clear {
    flex-shrink: 0;
    padding: 0 var(--padding-xs, $padding-xs);
    margin-right: calc(var(--padding-xs, #{$padding-xs}) * -1);
    line-height: inherit;
    font-size: var(--input-clear-icon-size, $input-clear-icon-size);
    color: var(--input-clear-icon-color, $input-clear-icon-color);
    cursor: pointer;
  }
}

