@import "../styles/prefix";

$backdrop-z-index: 1;

.#{$component-prefix}backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $backdrop-z-index;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &-open {
    visibility: visible;
    opacity: 1;
  }
}
