@import "./variables";

.#{$component-prefix}backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $backdrop-z-index;
  width: 100%;
  height: 100%;
  background: $backdrop-background-color;
}
