@import "./variables";

.#{$component-prefix}pagination {
  display: flex;
  font-size: var(--pagination-font-size, $pagination-font-size);

  &__item,
  &__page-desc {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item {
    box-sizing: border-box;
    flex: 1;
    min-width: var(--pagination-item-width, $pagination-item-width);
    height: var(--pagination-height, $pagination-height);
    color: var(--pagination-item-default-color, $pagination-item-default-color);
    cursor: pointer;
    user-select: none;
    background-color: var(--pagination-background-color, $pagination-background-color);

    &:active {
      color: var(--white, $white);
      background-color: var(--pagination-item-default-color, $pagination-item-default-color);
    }

    &::after {
      border-width: var(--border-width-base, $border-width-base) 0 var(--border-width-base, $border-width-base) var(--border-width-base, $border-width-base);
    }

    &:last-child::after {
      border-right-width: var(--border-width-base, $border-width-base);
    }

    &--active {
      color: var(--white, $white);
      background-color: var(--pagination-item-default-color, $pagination-item-default-color);
    }

    &--disabled {
      &,
      &:active {
        color: var(--pagination-item-disabled-color, $pagination-item-disabled-color);
        cursor: not-allowed;
        background-color: var(--pagination-item-disabled-background-color, $pagination-item-disabled-background-color);
        opacity: var(--pagination-disabled-opacity, $pagination-disabled-opacity);
      }
    }

    &--hidden {
      display: none;
    }
  }

  &__page,
  &__start-ellipsis,
  &__end-ellipsis {
    flex-grow: 0;
  }

  &__button {
    padding: 0 var(--padding-base, $padding-base);
    cursor: pointer;
  }
}
