@import "./variables";

.#{$component-prefix}tabbar {
  z-index: $tabbar-z-index;
  box-sizing: content-box;
  display: flex;
  width: 100%;
  height: $tabbar-height;
  background: $tabbar-background-color;
}
