@import "./variables";

.#{$component-prefix}tabbar {
  z-index: var(--tabbar-z-index, $tabbar-z-index);
  box-sizing: content-box;
  display: flex;
  width: 100%;
  height: var(--tabbar-height, $tabbar-height);
  background-color: var(--tabbar-background-color, $tabbar-background-color);
}
