@import "../styles/prefix";
@import "../styles/variables";
@import '../styles/mixins/hairline';

$collapse-item-title-disabled-color: var(--collapse-item-title-disabled-color, var(--gray-5, $gray-5));
$collapse-item-transition-duration: var(--collapse-item-transition-duration, var(--animation-duration-base, $animation-duration-base));
$collapse-item-content-padding: var(--collapse-item-content-padding, var(--padding-sm, $padding-sm) var(--padding-md, $padding-md));
$collapse-item-content-font-size: var(--collapse-item-content-font-size, var(--font-size-md, $font-size-md));
$collapse-item-content-line-height: var(--collapse-item-content-line-height, 1.5);
$collapse-item-content-color: var(--collapse-item-content-color, var(--gray-6, $gray-6));
$collapse-item-content-background-color: var(--collapse-item-content-background-color, var(--white, $white));
