@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.swiper-demo {
  .#{$taroify-prefix}swiper-item {
    &:nth-child(even) {
      background-color: #39a9ed;
    }

    &:nth-child(odd) {
      background-color: #66c6f2;
    }
  }

  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .basic-swiper {
    .#{$taroify-prefix}swiper-item {
      color: #fff;
      font-size: 20px * $hd;
      line-height: 150px * $hd;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .image-swiper {
    .image {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 240px * $hd;
      padding: 30px * $hd 60px * $hd;
      background: #fff;
      pointer-events: none;
    }
  }


  .onchange-swiper {
    .#{$taroify-prefix}swiper-item {
      color: #fff;
      font-size: 20px * $hd;
      line-height: 150px * $hd;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .vertical-swiper {
    height: 200px * $hd;

    .#{$taroify-prefix}swiper-item {
      color: #fff;
      font-size: 20px * $hd;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .custom-indicator {
    position: absolute;
    right: 5px * $hd;
    bottom: 5px * $hd;
    padding: 2px * $hd 5px * $hd;
    font-size: 12px * $hd;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.1);
  }
}
