@import "./variables";

.#{$component-prefix}native-textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-width: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: inherit;
  color: inherit;
  text-align: left;
  resize: none;
  user-select: auto;
  background: transparent;
  border: 0;
  appearance: none;

  &:focus {
    outline: none
  }

  &::placeholder
  {
    color: $textarea-placeholder-color;
  }

  &--readonly::placeholder {
    color: $textarea-readonly-color;
  }
}
