@import "../styles/prefix";
@import "../styles/variables";

$loading-color: var(--gray-5, $gray-5);
$loading-size: 30px * $hd;

$loading-text-color: var(--gray-6, $gray-6);
$loading-text-font-size: var(--font-size-md, $font-size-md);