@import "./variables";

.#{$component-prefix}form-control {
  display: flex;
  align-items: center;
  min-height: var(--form-control-min-height, $form-control-min-height);
  color: var(--form-control-color, $form-control-color);

  &--left {
    justify-content: flex-start;
    text-align: left;
  }

  &--center {
    justify-content: center;
    text-align: center;
  }

  &--right {
    justify-content: flex-end;
    text-align: right;
  }
}
