@use "./variables" as *;

.#{$component-prefix}form-label {
  box-sizing: border-box;
  display: flex;
  flex: none;
  width: $form-label-width;
  margin-right: $form-label-margin-right;
  color: $form-label-color;
  text-align: left;
  word-wrap: break-word;

  &--left {
    justify-content: flex-start;
    text-align: left;
  }

  &--center {
    justify-content: center;
    text-align: center;
  }

  &--right {
    justify-content: flex-end;
    text-align: right;
  }
}

