@import "./variables";

.#{$component-prefix}form-item {
  > .#{$component-prefix}cell__value {
    text-align: initial;
  }

  &--disabled {
    .#{$component-prefix}form__label {
      color: $form-label-disabled-color;
    }
  }

  &__value {
    overflow: visible;
  }

  &__icon,
  &__right-icon {
    flex-shrink: 0;
  }

  &__right-icon {
    padding: $form-item-right-icon-padding;
    margin-right: $form-item-right-icon-margin-right;
    line-height: inherit;
  }

  &__icon.#{$component-prefix}icon,
  &__right-icon.#{$component-prefix}icon {
    display: block;
    font-size: $form-item-icon-size;
    line-height: inherit;
  }

  .#{$component-prefix}input + .#{$component-prefix}button {
    flex-shrink: 0;
    margin-left: $form-item-right-button-margin-left;
  }
}
