@import "./variables";

.#{$component-prefix}form-control {
  display: flex;
  align-items: center;
  color: var(--form-control-color, $form-control-color);
  min-height: var(--form-control-min-height, $form-control-min-height);
}
