@import "./variables";

.#{$component-prefix}count-down {
  font-size: var(--count-down-font-size, $count-down-font-size);
  line-height: var(--count-down-line-height, $count-down-line-height);
  color: var(--count-down-text-color, $count-down-text-color);
}
