@import "../styles/prefix";
@import "../styles/variables";

$uploader-size: 80px * $hd;
$uploader-icon-size: 24px * $hd;
$uploader-icon-color: var(--gray-4, $gray-4);
$uploader-text-color: var(--gray-6, $gray-6);
$uploader-text-font-size: var(--font-size-sm, $font-size-sm);
$uploader-upload-background-color: var(--gray-1, $gray-1);
$uploader-upload-active-color: var(--active-color, $active-color);
$uploader-remove-color: var(--white, $white);
$uploader-remove-icon-size: 14px * $hd;
$uploader-remove-background-color: rgba(0, 0, 0, 0.7);
$uploader-file-background-color: var(--background-color, $background-color);
$uploader-file-icon-size: 20px * $hd;
$uploader-file-icon-color: var(--gray-7, $gray-7);
$uploader-file-name-padding: 0 var(--padding-base, $padding-base);
$uploader-file-name-margin-top: var(--padding-xs, $padding-xs);
$uploader-file-name-font-size: var(--font-size-sm, $font-size-sm);
$uploader-file-name-text-color: var(--gray-7, $gray-7);
$uploader-mask-text-color: var(--white, $white);
$uploader-mask-background-color: rgba(50, 50, 51, 0.88);
$uploader-mask-icon-size: 22px * $hd;
$uploader-mask-message-font-size: var(--font-size-sm, $font-size-sm);
$uploader-mask-message-line-height: var(--line-height-xs, $line-height-xs);
$uploader-loading-icon-size: 22px * $hd;
$uploader-loading-icon-color: var(--white, $white);
$uploader-disabled-opacity: var(--disabled-opacity, $disabled-opacity);
