@import "./variables";

.#{$component-prefix}uploader {
  position: relative;
  display: inline-block;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    &--disabled {
      opacity: var(--uploader-disabled-opacity, $uploader-disabled-opacity);

      .#{$component-prefix}uploader__upload {
        &:active {
          background-color: var(--uploader-upload-background-color, $uploader-upload-background-color);
        }
      }
    }
  }

  &__upload {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--uploader-size, $uploader-size);
    height: var(--uploader-size, $uploader-size);
    margin: 0 var(--padding-xs, $padding-xs) var(--padding-xs, $padding-xs) 0;
    background-color: var(--uploader-upload-background-color, $uploader-upload-background-color);

    &:active {
      background-color: var(--uploader-upload-active-color, $uploader-upload-active-color);
    }

    &--readonly:active {
      background-color: var(--uploader-upload-background-color, $uploader-upload-background-color);
    }

    &-icon {
      font-size: var(--uploader-icon-size, $uploader-icon-size);
      color: var(--uploader-icon-color, $uploader-icon-color);
    }

    &-text {
      margin-top: var(--padding-xs, $padding-xs);
      font-size: var(--uploader-text-font-size, $uploader-text-font-size);
      color: var(--uploader-text-color, $uploader-text-color);
    }
  }

  &__preview {
    position: relative;
    margin: 0 var(--padding-xs, $padding-xs) var(--padding-xs, $padding-xs) 0;
    cursor: pointer;

    &-image {
      display: block;
      width: var(--uploader-size, $uploader-size);
      height: var(--uploader-size, $uploader-size);
      overflow: hidden;
    }

    &-remove {
      position: absolute;
      top: 0;
      right: 0;
      width: var(--uploader-remove-icon-size, $uploader-remove-icon-size);
      height: var(--uploader-remove-icon-size, $uploader-remove-icon-size);
      background-color: var(--uploader-remove-background-color, $uploader-remove-background-color);
      border-radius: 0 0 0 12px * $hd;

      &-icon {
        position: absolute;
        top: -2px * $hd;
        right: -2px * $hd;
        font-size: 16px * $hd;
        color: var(--uploader-remove-color, $uploader-remove-color);
        transform: scale(0.5);
      }
    }

    &-cover {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--uploader-mask-text-color, $uploader-mask-text-color);
    background-color: var(--uploader-mask-background-color, $uploader-mask-background-color);

    &-icon {
      font-size: var(--uploader-mask-icon-size, $uploader-mask-icon-size);
    }

    &-message {
      padding: 0 var(--padding-base, $padding-base);
      margin-top: 6px * $hd;
      font-size: var(--uploader-mask-message-font-size, $uploader-mask-message-font-size);
      line-height: var(--uploader-mask-message-line-height, $uploader-mask-message-line-height);
    }
  }

  &__loading {
    width: var(--uploader-loading-icon-size, $uploader-loading-icon-size);
    height: var(--uploader-loading-icon-size, $uploader-loading-icon-size);
    color: var(--uploader-loading-icon-color, $uploader-loading-icon-color);
  }

  &__file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--uploader-size, $uploader-size);
    height: var(--uploader-size, $uploader-size);
    background-color: var(--uploader-file-background-color, $uploader-file-background-color);

    &-icon {
      font-size: var(--uploader-file-icon-size, $uploader-file-icon-size);
      color: var(--uploader-file-icon-color, $uploader-file-icon-color);
    }

    &-name {
      box-sizing: border-box;
      width: 100%;
      padding: var(--uploader-file-name-padding, $uploader-file-name-padding);
      margin-top: var(--uploader-file-name-margin-top, $uploader-file-name-margin-top);
      font-size: var(--uploader-file-name-font-size, $uploader-file-name-font-size);
      color: var(--uploader-file-name-text-color, $uploader-file-name-text-color);
      text-align: center;
    }
  }
}
