@import "./variables";

.taroify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  &--inherit {
    font-size: inherit;
    color: inherit;
  }

  &--mini {
    font-size: 20px;
  }

  &--small {
    font-size: 24px;
  }

  &--medium {
    font-size: 36px;
  }

  &--large {
    font-size: 40px;
  }

  &--default {
    color: $default-color;
  }

  &--primary {
    color: $primary-color;
  }

  &--info {
    color: $info-color;
  }

  &--success {
    color: $success-color;
  }

  &--warning {
    color: $warning-color;
  }

  &--danger {
    color: $danger-color;
  }
}
