@import "./variables";

.taroify-icon {
  width: 1em;
  height: 1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.taroify-icon-inherit {
  font-size: inherit;
}

.taroify-icon-mini {
  font-size: 20px;
}

.taroify-icon-small {
  font-size: 24px;
}

.taroify-icon-medium {
  font-size: 36px;
}

.taroify-icon-large {
  font-size: 40px;
}

.taroify-icon-inherit {
  color: inherit;
}

.taroify-icon-default {
  color: $default-color;
}

.taroify-icon-primary {
  color: $primary-color;
}

.taroify-icon-info {
  color: $info-color;
}

.taroify-icon-success {
  color: $success-color;
}

.taroify-icon-warning {
  color: $warning-color;
}

.taroify-icon-danger {
  color: $danger-color;
}
