// Icon Colors
$default-color: #323233;
$primary-color: #1989fa;
$info-color: #2db7f5;
$success-color: #07c160;
$warning-color: #ff976a;
$danger-color: #ee0a24;

// Font
$font-size-xs: 10px *2;
$font-size-sm: 12px *2;
$font-size-md: 14px *2;
$font-size-lg: 16px *2;
