@import "../styles/prefix";
@import "../styles/variables";

$swiper-indicator-size: 6px * $hd;
$swiper-indicator-margin: $padding-sm;
$swiper-indicator-active-opacity: 1;
$swiper-indicator-inactive-opacity: 0.3;
$swiper-indicator-active-background-color: $blue;
$swiper-indicator-inactive-background-color: $border-color;
