@import "./variables";

.#{$component-prefix}swiper {
  position: relative;
  overflow: hidden;
  cursor: grab;
  user-select: none;

  &__track {
    display: flex;
    height: 100%;

    &--vertical {
      flex-direction: column;
    }
  }

  &__indicators {
    position: absolute;
    bottom: var(--swiper-indicator-margin, $swiper-indicator-margin);
    left: 50%;
    display: flex;
    transform: translateX(-50%);

    &--vertical {
      top: 50%;
      bottom: auto;
      left: var(--swiper-indicator-margin, $swiper-indicator-margin);
      flex-direction: column;
      transform: translateY(-50%);

      .#{$component-prefix}swiper__indicator:not(:last-child) {
        margin-bottom: var(--swiper-indicator-size, $swiper-indicator-size);
      }
    }
  }

  &__indicator {
    width: var(--swiper-indicator-size, $swiper-indicator-size);
    height: var(--swiper-indicator-size, $swiper-indicator-size);
    background-color: var(--swiper-indicator-inactive-background-color, $swiper-indicator-inactive-background-color);
    border-radius: 100%;
    opacity: var(--swiper-indicator-inactive-opacity, $swiper-indicator-inactive-opacity);
    transition: opacity var(--animation-duration-fast, $animation-duration-fast),
    background-color var(--animation-duration-fast, $animation-duration-fast);

    &:not(:last-child) {
      margin-right: var(--swiper-indicator-size, $swiper-indicator-size);
    }

    &--active {
      background-color: var(--swiper-indicator-active-background-color, $swiper-indicator-active-background-color);
      opacity: var(--swiper-indicator-active-opacity, $swiper-indicator-active-opacity);
    }
  }
}

.#{$component-prefix}swiper-item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
