@import "./variables";

//.#{$component-prefix}swiper {
//  position: relative;
//  overflow: hidden;
//  cursor: grab;
//  user-select: none;
//
//  &__track {
//    display: flex;
//    height: 100%;
//
//    &--vertical {
//      flex-direction: column;
//    }
//  }
//
//  &__indicators {
//    position: absolute;
//    bottom: $swiper-indicator-margin;
//    left: 50%;
//    display: flex;
//    transform: translateX(-50%);
//
//    &--vertical {
//      top: 50%;
//      bottom: auto;
//      left: $swiper-indicator-margin;
//      flex-direction: column;
//      transform: translateY(-50%);
//
//      /* .van-swipe__indicator:not(:last-child) {
//        margin-bottom: $swiper-indicator-size;
//      } */
//    }
//  }
//
//  &__indicator {
//    width: $swiper-indicator-size;
//    height: $swiper-indicator-size;
//    background-color: $swiper-indicator-inactive-background-color;
//    border-radius: 100%;
//    opacity: $swiper-indicator-inactive-opacity;
//    transition: opacity $animation-duration-fast,
//    background-color $animation-duration-fast;
//
//    &:not(:last-child) {
//      margin-right: $swiper-indicator-size;
//    }
//
//    &--active {
//      background-color: $swiper-indicator-active-background-color;
//      opacity: $swiper-indicator-active-opacity;
//    }
//  }
//}

.#{$component-prefix}swiper {
  .swiper-pagination-bullet {
    width: $swiper-indicator-size;
    height: $swiper-indicator-size;
    background: $swiper-indicator-inactive-background-color!important;
    border-radius: 100%;
    opacity: $swiper-indicator-inactive-opacity;

    &-active {
      opacity: $swiper-indicator-active-opacity;
    }
  }
}
