@import "../styles/prefix";
@import "../styles/variables";
@import "../styles/hairline";

$checkbox-size: 20px * $hd;
$checkbox-border-color: $gray-5;
$checkbox-transition-duration: $animation-duration-fast;
$checkbox-label-margin: $padding-xs;
$checkbox-label-color: $text-color;
$checkbox-checked-icon-color: $primary-color;
$checkbox-disabled-icon-color: $gray-5;
$checkbox-disabled-label-color: $gray-5;
$checkbox-disabled-background-color: $border-color;