@forward "../styles/prefix";
@forward "../styles/variables";
@use "../styles/variables" as *;

$checkbox-size: var(--checkbox-size, 20px * $hd);
$checkbox-font-size: var(--checkbox-font-size, var(--font-size-md, $font-size-md));
$checkbox-border-color: var(--checkbox-border-color, var(--gray-5, $gray-5));
$checkbox-transition-duration: var(--checkbox-transition-duration, var(--animation-duration-fast, $animation-duration-fast));
$checkbox-gap: var(--checkbox-gap, var(--padding-sm, $padding-sm));
//
$checkbox-label-margin: var(--checkbox-label-margin, var(--padding-xs, $padding-xs));
$checkbox-label-color: var(--checkbox-label-color, var(--text-color, $text-color));
$checkbox-label-line-height: var(--checkbox-label-line-height, $checkbox-size);
$checkbox-disabled-label-color: var(--checkbox-disabled-label-color, var(--gray-5, $gray-5));
//
$checkbox-icon-font-size: var(--checkbox-icon-font-size, $checkbox-size);
//
$checkbox-checked-icon-color: var(--checkbox-checked-icon-color, var(--white, $white));
$checkbox-checked-icon-border-color: var(--checkbox-checked-icon-border-color, var(--primary-color, $primary-color));
$checkbox-checked-icon-background-color: var(--checkbox-checked-icon-background-color, var(--primary-color, $primary-color));
//
$checkbox-disabled-icon-color: var(--checkbox-disabled-icon-color, var(--gray-5, $gray-5));
$checkbox-disabled-icon-border-color: var(--checkbox-disabled-icon-border-color, var(--gray-5, $gray-5));
$checkbox-disabled-icon-background-color: var(--checkbox-disabled-icon-background-color, var(--border-color, $border-color));
//
$checkbox-button-padding: var(--checkbox-button-padding, 5px * $hd 18px * $hd);
$checkbox-button-border-radius: var(--checkbox-button-border-radius, var(--border-radius-max, $border-radius-max));
$checkbox-button-color: var(--checkbox-button-color, var(--text-color, $text-color));
$checkbox-button-background-color: var(--checkbox-button-background-color, var(--gray-1, $gray-1));
$checkbox-button-border-color: var(--checkbox-button-border-color, $checkbox-button-background-color);
$checkbox-button-checked-color: var(--checkbox-button-checked-color, var(--primary-color, $primary-color));
$checkbox-button-checked-background-color: var(--checkbox-button-checked-background-color, var(--background-color-2, $background-color-2));
$checkbox-button-checked-border-color: var(--checkbox-button-checked-border-color, var(--primary-color, $primary-color));
$checkbox-button-disabled-opacity: var(--checkbox-button-disabled-opacity, var(--disabled-opacity, $disabled-opacity));
