@import "./variables";

.#{$component-prefix}checkbox {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  font-size: $font-size-lg;
  cursor: pointer;
  user-select: none;

  &--disabled {
    cursor: not-allowed;
  }

  &__icon {
    flex: none;
    height: 1em;
    font-size: var(--checkbox-size, $checkbox-size);
    line-height: 1em;
    cursor: pointer;

    .#{$component-prefix}icon {
      box-sizing: border-box;
      display: block;
      width: 1.25em;
      height: 1.25em;
      font-size: 0.8em;
      line-height: 1.25;
      color: transparent;
      text-align: center;
      border: 1px solid var(--checkbox-border-color, $checkbox-border-color);
      transition-duration: var(--checkbox-transition-duration, $checkbox-transition-duration);
      transition-property: color, border-color, background-color;
    }

    &--round {
      .#{$component-prefix}icon {
        border-radius: 100%;
      }
    }

    &--checked {
      .#{$component-prefix}icon {
        color: var(--white, $white);
        background-color: var(--checkbox-checked-icon-color, $checkbox-checked-icon-color);
        border-color: var(--checkbox-checked-icon-color, $checkbox-checked-icon-color);
      }
    }

    &--disabled {
      cursor: not-allowed;

      .#{$component-prefix}icon {
        background-color: var(--checkbox-disabled-background-color, $checkbox-disabled-background-color);
        border-color: var(--checkbox-disabled-icon-color, $checkbox-disabled-icon-color);
      }
    }
  }

  &__label {
    margin-left: var(--checkbox-label-margin, $checkbox-label-margin);
    line-height: var(--checkbox-size, $checkbox-size);
    color: var(--checkbox-label-color, $checkbox-label-color);

    &--left {
      margin: 0 var(--checkbox-label-margin, $checkbox-label-margin) 0 0;
    }

    &--disabled {
      color: var(--checkbox-disabled-label-color, $checkbox-disabled-label-color);
    }
  }
}
