@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.tabs-demo {
  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .#{$component-prefix}tabs__tab-pane {
    padding: 24px * $hd 20px * $hd;
    font-size: 16px * $hd;
  }

  .#{$component-prefix}tabs--line {
    .#{$component-prefix}tabs__tab-pane {
      background: #fff;
    }
  }

  .#{$component-prefix}icon {
    margin-right: 5px * $hd;
    vertical-align: -2px * $hd;
  }
}
