@import "./variables";

.#{$component-prefix}space {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  /* &--horizontal {

  }
*/
  &--vertical {
    flex-direction: column;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    flex: none;
    margin-right: 8px * $hd;
    margin-bottom: 8px * $hd;
  }
}
