@import "./variables";

.#{$component-prefix}space {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  /* &--horizontal {

  }
*/
  &--vertical {
    flex-direction: column;
  }

  /* &-item {
  } */
}
