@import "./variables";

.#{$component-prefix}space {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;

  /* &-horizontal {

  }

  &-vertical {

  } */

  &-item {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 8px * $hd;
    margin-bottom: 8px * $hd;
  }
}
