@import "../styles/prefix";
@import "../styles/variables";

$badge-size: 16px * $hd;
$badge-color: $white;
$badge-padding: 0 3px * $hd;
$badge-font-size: $font-size-sm;
$badge-font-weight: $font-weight-bold;
$badge-border-width: $border-width-base;
$badge-background-color: $red;
$badge-dot-color: $red;
$badge-dot-size: 8Px;
$badge-font-family: -apple-system-font, helvetica neue, arial, sans-serif;
