@import "./variables";

.#{$component-prefix}badge {
  box-sizing: border-box;
  display: inline-block;
  min-width: $badge-size;
  font-family: $badge-font-family;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  color: $badge-color;
  text-align: center;
  background-color: $badge-background-color;
  border: $badge-border-width solid $white;
  border-radius: $border-radius-max;

  &__wrapper {
    position: relative;
    display: inline-block;
  }

  // If is Icon children
  > .#{$component-prefix}icon {
    width: unset;
    height: unset;
    color: $badge-color;
  }

  &--fixed {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    transform-origin: 100%;
  }

  &--content {
    padding: $badge-padding;
    line-height: 1.2;
  }

  &--dot {
    width: $badge-dot-size;
    min-width: 0;
    height: $badge-dot-size;
    background-color: $badge-dot-color;
    border-radius: 100%;
  }
}
