@import "./variables";

.#{$component-prefix}badge {
  box-sizing: border-box;
  display: inline-block;
  min-width: var(--badge-size, $badge-size);
  padding: var(--badge-padding, $badge-padding);
  font-family: var(--badge-font-family, $badge-font-family);
  font-size: var(--badge-font-size, $badge-font-size);
  font-weight: var(--badge-font-weight, $badge-font-weight);
  line-height: 1.2;
  color: var(--badge-color, $badge-color);
  text-align: center;
  background-color: var(--badge-background-color, $badge-background-color);
  border: var(--badge-border-width, $badge-border-width) solid $white;
  border-radius: var(--border-radius-max, $border-radius-max);

  &__wrapper {
    position: relative;
    display: inline-block;
  }

  // If is Icon children
  > .#{$component-prefix}icon {
    width: unset;
    height: unset;
    color: var(--badge-color, $badge-color);
  }

  &--fixed {
    position: absolute;
    transform-origin: 100%;
  }

  &--content {
    padding: var(--badge-padding, $badge-padding);
    line-height: 1.2;
  }

  &--dot {
    width: var(--badge-dot-size, $badge-dot-size);
    min-width: 0;
    height: var(--badge-dot-size, $badge-dot-size);
    padding: 0;
    background-color: var(--badge-dot-color, $badge-dot-color);
    border-radius: 100%;
  }

  &--top-left {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }

  &--top-right {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
  }

  &--bottom-right {
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%);
  }
}
