@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.avatars-demo {
  background: #fff;
  height: 100%;

  .#{$component-prefix}avatars__wrapper {
    margin-left: 16px * $hd;
  }

  .custom-color {
    .#{$component-prefix}avatars {
      background: #1989fa;
    }
  }

  .avatars-icon {
    display: block;
    margin-left: 0;
    font-size: 10px * $hd;
    line-height: 16px * $hd;
  }

  .avatars-block {
    width: 40px * $hd;
    height: 40px* $hd;
    background: $gray-2;
    border-radius: 4px * $hd;
  }

  .independent-avatarss {
    .#{$component-prefix}avatars {
      margin-left: 16px * $hd;
    }
  }
}
