@import "./variables";

.#{$component-prefix}fixed-nav {
  position: fixed;
  z-index: $fixed-nav-z-index;
  display: inline-block;
  height: $fixed-nav-height;
  right: 0;

  &_btn {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    z-index: $fixed-nav-z-index;
    width: 70px * $hd;
    height: 100%;
    background: $fixed-nav-button-background;
    border-radius: 45px * $hd 0 0 45px * $hd;
    box-shadow: 0 2px * $hd 4px * $hd 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    .#{$component-prefix}fixed-nav_btn-icon {
      margin-right: 5px * $hd;
      transform: rotate(0deg);
      transition: all 0.3s;
      transform-origin: center;
      line-height: normal;
    }

    &-text {
      width: 24px * $hd;
      line-height: 13px * $hd;
      font-size: $fixed-nav-button-font-size;
      color: #fff;
      flex-shrink: 0;
    }
  }

  &_content {
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: $fixed-nav-content-z-index;
    flex-shrink: 0;
    height: 100%;
    background: $fixed-nav-background-color;
    display: flex;
    justify-content: space-between;
    border-radius: 25px * $hd 0 0 25px * $hd;
    box-shadow: 2px * $hd 2px * $hd 8px * $hd 0 rgba(0, 0, 0, 0.2);
    padding: 0 80px * $hd 0 20px * $hd;

    &--item {
      position: relative;
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 50px * $hd;
      flex-shrink: 0;
      color: $fixed-nav-color;
    }

    &--img {
      width: 20px * $hd;
      height: 20px * $hd;
      margin-bottom: 2px * $hd;
    }

    &--text {
      font-size: 10px * $hd;
    }
  }

  &--active {
    .#{$component-prefix}fixed-nav_btn-icon {
      transform: rotate(180deg);
    }

    .#{$component-prefix}fixed-nav_content {
      transform: translateX(0%) !important;
    }

    .#{$component-prefix}fixed-nav--left {
      .#{$component-prefix}icon {
        transform: rotate(0deg) !important;
      }
    }
  }

  &--left {
    right: auto;
    left: 0;

    .#{$component-prefix}fixed-nav_btn {
      flex-direction: row-reverse;
      right: auto;
      left: 0;
      border-radius: 0 45px * $hd 45px * $hd 0;
    }

    .#{$component-prefix}fixed-nav_btn-icon {
      transform: rotate(180deg);
      margin-left: 5px * $hd;
    }

    .#{$component-prefix}fixed-nav_content {
      transform: translateX(-100%);
      right: auto;
      border-radius: 0 25px * $hd 25px * $hd 0;
      padding: 0 20px * $hd 0 80px * $hd;
    }
  }
}
