@import "./variables";

.#{$component-prefix}image {
  position: relative;
  display: inline-block;
  height: 100%;
  width: 100%;

  &--round {
    overflow: hidden;
    border-radius: 50%;

    img {
      border-radius: inherit;
    }
  }

  &--loading {
    display: none;
  }

  &__fallback,
  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: $image-placeholder-font-size;
    color: $image-placeholder-text-color;
    background-color: $image-placeholder-background-color;

    &-icon {
      font-size: $image-placeholder-icon-size;
      color: $image-placeholder-icon-color;
    }
  }
}
