@import "../styles/prefix";
@import "../styles/variables";

$image-placeholder-text-color: $gray-6;
$image-placeholder-font-size: $font-size-md;
$image-placeholder-icon-size: 42px * $hd;
$image-placeholder-background-color: $background-color;
