@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/mixins/hairline";
@import "~@taroify/core/styles/variables";

$action-bar-color: var(--gray-6, $gray-6);
$action-bar-font-size: var(--font-size-xs, $font-size-xs);
$action-bar-button-color: var(--white, $white);
$action-bar-button-gradient-red: var(--gradient-red, $gradient-red);
$action-bar-button-gradient-orange: var(--gradient-orange, $gradient-orange);
$action-bar-button-border-radius: var(--border-radius-max, $border-radius-max);

