@import "./variables";

.#{$component-prefix}action-bar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: $action-bar-height;
  background: $action-bar-background;

  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
