@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.divider-demo {
  background: #fff;

  .#{$demo-prefix}page__content {
    background: inherit;
    padding: 0 0 20px * $hd 0;
  }
}
