@import "../../../styles/prefix";

.config-provider-demo {
  .#{$demo-prefix}block__content {
    padding: 0;
  }

  &__theme {
    background: var(--background-color, #f7f8fa);
    color: var(--text-color, #323233);
    padding-bottom: 1px;
  }
}
