@import "../styles/prefix";

.#{$demo-prefix}page {
  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px * 2;
    background-color: #fff;

    &__back {
      position: absolute;
      top: 16px * 2;
      left: 16px * 2;
      width: 24px * 2;
      height: 24px * 2;
      color: #969799;
      cursor: pointer;
    }

    &__title {
      font-size: 16px * 2;
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  &__content {
    padding: 0 16px;
  }
}
