@import "~@taroify/core/styles/variables";
@import "../styles/prefix";

.#{$demo-prefix}page {
  height: 100%;

  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px * $hd;
    background-color: #fff;

    &__back {
      position: absolute;
      top: 16px * $hd;
      left: 16px * $hd;
      width: 24px * $hd;
      height: 24px * $hd;
      color: #969799;
      cursor: pointer;
    }

    &__title {
      font-size: 16px * $hd;
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  &__content {
    padding-bottom: 20px * $hd;
  }
}
