.Layout {
  :global {
    .taroify-col {
      margin-bottom: 10px;
      color: #fff;
      font-size: 13px * 2;
      line-height: 30px * 2;
      height: 30px * 2;
      text-align: center;
      background-clip: content-box;

      &:nth-child(odd) {
        background-color: #39a9ed;
      }

      &:nth-child(even) {
        background-color: #66c6f2;
      }
    }
  }
}
