@forward "../styles/prefix";
@forward "../styles/variables";
@use "../styles/variables" as *;

$text-ellipsis-line-height: var(--text-ellipsis-line-height, 1.6);
$text-ellipsis-font-size: var(--text-ellipsis-content-font-size, $font-size-md);
$text-ellipsis-font-color: var(--text-ellipsis-content-font-color, $text-color);
$text-ellipsis-action-color: var(--text-ellipsis-action-color, $primary-color);
