@use "./variables" as *;

.#{$component-prefix}text-ellipsis {
  font-size: $text-ellipsis-font-size;
  line-height: $text-ellipsis-line-height;
  color: $text-ellipsis-font-color;
  overflow-wrap: break-word;
  white-space: pre-wrap;

  &__expand {
    display: inline-block;
    color: $text-ellipsis-action-color;
    cursor: pointer;
    &:active {
      opacity: $active-opacity;
    }
  }
  &__hidden {
    visibility: hidden !important;
  }
}
