@import "./variables";

.#{$component-prefix}avatar{
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-family: var(--avatars-font-family, $avatars-font-family);
  font-size: var(--avatars-font-size, $avatars-font-size);
  font-weight: var(--avatars-font-weight, $avatars-font-weight);
  color: var(--avatars-color, $avatars-color);
  background-color: gray;
  border: 1px solid $avatars-color;
  overflow: hidden;

  &--circular {
    border-radius:50%;
  }

  &--square {
    border-radius:0%;
  }

  &--rounded {
    border-radius:10px;
  }

  &--position {
    position: absolute;
  }
}
