@import "../styles/prefix";
@import "../styles/variables";

$rate-icon-size: 20px * $hd;
$rate-icon-gutter: $padding-base;
$rate-icon-void-color: $gray-5;
$rate-icon-full-color: $danger-color;
$rate-icon-disabled-color: $gray-5;
