@import "./variables";

.#{$component-prefix}rate {
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  &__item {
    position: relative;
    pointer-events: none;

    &:not(:last-child) {
      padding-right: var(--rate-icon-gutter, $rate-icon-gutter);
    }
  }

  &__icon {
    display: block;
    width: 1em;
    font-size: var(--rate-icon-size, $rate-icon-size);
    color: var(--rate-icon-empty-color, $rate-icon-empty-color);

    &--half {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
    }

    &--full {
      color: var(--rate-icon-full-color, $rate-icon-full-color);
    }

    &--disabled {
      color: var(--rate-icon-disabled-color, $rate-icon-disabled-color);
    }
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--readonly {
    cursor: default;
  }
}
