@import "../styles/prefix";
@import "../styles/variables";

$navbar-height: 46px * $hd;
$navbar-background-color: var(--white, $white);
$navbar-icon-size: 16px * $hd;
$navbar-icon-color: var(--blue, $blue);
$navbar-text-color: var(--blue, $blue);
$navbar-title-font-size: var(--font-size-lg, $font-size-lg);
$navbar-title-text-color: var(--text-color, $text-color);
$navbar-z-index: 1;
