@import "../styles/prefix";
@import "../styles/ellipsis";
@import "../styles/hairline";
@import "../styles/variables";

$navbar-height: 46px * $hd;
$navbar-background-color: $white;
$navbar-icon-size: 16px * $hd;
$navbar-icon-color: $blue;
$navbar-text-color: $blue;
$navbar-title-font-size: $font-size-lg;
$navbar-title-text-color: $text-color;
$navbar-z-index: 1;
