@forward "../styles/prefix";
@forward "../styles/variables";
@use "../styles/variables" as *;

$back-top-size: var(--back-top-size, 40px * $hd);
$back-top-icon-size: var(--back-top-icon-size, 20px * $hd);
$back-top-right: var(--back-top-right, 30px * $hd);
$back-top-bottom: var(--back-top-bottom, 40px * $hd);
$back-top-z-index: var(--back-top-z-index, 100);
$back-top-text-color: var(--back-top-text-color, #fff);
$back-top-background: var(--back-top-background, $primary-color);
