@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.calendar-demo {
  .#{$component-prefix}popup {
    overflow: hidden;
  }

  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .#{$demo-prefix}block-card {
    margin-top: 0;
  }
}
