@import "./variables";

.#{$component-prefix}empty {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--empty-padding, $empty-padding);

  &__image {
    width: var(--empty-image-size, $empty-image-size);
    height: var(--empty-image-size, $empty-image-size);

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__description {
    padding: var(--empty-description-padding, $empty-description-padding);
    margin-top: var(--empty-description-margin-top, $empty-description-margin-top);
    font-size: var(--empty-description-font-size, $empty-description-font-size);
    line-height: var(--empty-description-line-height, $empty-description-line-height);
    color: var(--empty-description-color, $empty-description-color);
  }
}
