@import "../styles/prefix";
@import "../styles/variables";
@import "../styles/hairline";

$grid-item-content-padding: $padding-md $padding-xs;
$grid-item-content-background-color: $white;
$grid-item-content-active-color: $active-color;
$grid-item-icon-size: 28px * $hd;
$grid-item-text-color: $gray-7;
$grid-item-text-font-size: $font-size-sm;
