@import "../styles/prefix";
@import "../styles/variables";

$grid-item-content-padding: var(--padding-md, $padding-md) var(--padding-xs, $padding-xs);
$grid-item-content-background-color: var(--white, $white);
$grid-item-content-active-color: var(--active-color, $active-color);
$grid-item-icon-size: 28px * $hd;
$grid-item-text-color: var(--gray-7, $gray-7);
$grid-item-text-font-size: var(--font-size-sm, $font-size-sm);
