@import "../styles/prefix";
@import "../styles/variables";

.#{$component-prefix}safe-area {
  display: block;
  width: 100%;

  &--top {
    padding-top: env(safe-area-inset-top);
  }

  &--bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
