@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.count-down-demo {
  background: #fff;

  .colon {
    display: inline-block;
    margin: 0 4px * $hd;
    color: $red;
  }

  .block {
    display: inline-block;
    width: 22px * $hd;
    color: #fff;
    font-size: 12px * $hd;
    text-align: center;
    background-color: $red;
    border-radius: 4px * $hd;
  }

  .manual-control-block {

    .#{$demo-prefix}block__content {
      padding: 0;
    }

    .manual-control {
      margin: 0 0 16px * $hd 16px * $hd;
    }
  }
}
