@forward "../styles/prefix";
@forward "../styles/variables";
@use "../styles/variables" as *;

$picker-background-color: var(--white, $white);
$picker-toolbar-height: 44px * $hd;
$picker-title-font-size: var(--font-size-lg, $font-size-lg);
$picker-title-line-height: var(--line-height-md, $line-height-md);
$picker-action-padding: 0 var(--padding-md, $padding-md);
$picker-action-font-size: var(--font-size-md, $font-size-md);
$picker-confirm-action-color: var(--text-link-color, $primary-color);
$picker-cancel-action-color: var(--gray-6, $gray-6);
//
$picker-swipe-transition-duration: var(--picker-swipe-transition-duration, 800ms);
//
$picker-option-color: var(--black, $black);
$picker-option-padding: 0 var(--padding-base, $padding-base);
$picker-option-font-size: var(--font-size-lg, $font-size-lg);
$picker-option-disabled-opacity: 0.3;
$picker-loading-icon-color: var(--primary-color, $primary-color);
$picker-loading-mask-color: rgba(255, 255, 255, 0.9);
