@use "./variables" as *;

.#{$component-prefix}picker-column {
  flex: 1;
  overflow: hidden;
  font-size: var(--picker-option-font-size, $picker-option-font-size);

  &__wrapper {
    transition-timing-function: cubic-bezier(0.23, 1, 0.68, 1);
  }
}
