@import "../styles/prefix";
@import "./variables";

.#{$component-prefix}picker-column {
  flex: 1;
  overflow: hidden;
  font-size: $picker-option-font-size;

  &__wrapper {
    transition-timing-function: cubic-bezier(0.23, 1, 0.68, 1);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $picker-option-padding;
    color: $picker-option-text-color;

    &--disabled {
      cursor: not-allowed;
      opacity: $picker-option-disabled-opacity;
    }
  }
}
