@import "../styles/prefix";
@import "../styles/mixins/hairline";
@import "../styles/variables";

$share-sheet-icon-size: 48px * $hd;
$share-sheet-option-name-color: var(--gray-7, $gray-7);
$share-sheet-option-name-font-size: var(--font-size-sm, $font-size-sm);
$share-sheet-option-name-line-height: 1.4;
$share-sheet-option-description-color: var(--gray-5, $gray-5);
$share-sheet-option-description-font-size: var(--font-size-sm, $font-size-sm);
