@import "./variables";

.#{$component-prefix}share-sheet {

  .#{$component-prefix}sheet__description {
    font-size: var(--font-size-sm, $font-size-sm);

  }

  &__options {
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding: var(--padding-md, $padding-md) 0 var(--padding-md, $padding-md) var(--padding-xs, $padding-xs);
    -webkit-overflow-scrolling: touch;

    &::before {
      @include hairline-top(var(--border-color, $border-color), var(--padding-md, $padding-md), var(--padding-md, $padding-md));
    }

    &:first-of-type {
      &::before {
        content: none;
      }
    }

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: initial;
    // Remove sheet__item style
    padding: 0;
    cursor: pointer;
    user-select: none;

    &:active {
      background-color: transparent;
      opacity: var(--active-opacity, $active-opacity);
    }

    &-icon {
      width: var(--share-sheet-icon-size, $share-sheet-icon-size);
      height: var(--share-sheet-icon-size, $share-sheet-icon-size);
      margin: 0 var(--padding-md, $padding-md);
      font-size: var(--share-sheet-icon-size, $share-sheet-icon-size);
      line-height: 1;
    }

    &-name {
      padding: 0 var(--padding-base, $padding-base);
      margin-top: var(--padding-xs, $padding-xs);
      font-size: var(--share-sheet-option-name-font-size, $share-sheet-option-name-font-size);
      line-height: var(--share-sheet-option-name-line-height, $share-sheet-option-name-line-height);
      color: var(--share-sheet-option-name-color, $share-sheet-option-name-color);
    }

    &-description {
      padding: 0 var(--padding-base, $padding-base);
      font-size: var(--share-sheet-option-description-font-size, $share-sheet-option-description-font-size);
      color: var(--share-sheet-option-description-color, $share-sheet-option-description-color);
    }
  }
}
