@import "./variables";

.#{$component-prefix}fixed-view {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $fixed-view-z-index;

  &, &__placeholder {
    width: 100%;
  }

  &--top {
    top: 0;
    bottom: auto;
  }

  &--bottom {
    top: auto;
    bottom: 0;
  }
}
