// Color Palette
$black: #000;
$white: #fff;

$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;

$red: #ee0a24;
$blue: #1989fa;
$green: #07c160;
$orange: #ff976a;

$orange-dark: #ed6a0c;
$orange-light: #fffbe8;

$primary-color: $blue;
$info-color: #2db7f5;
$success-color: $green;
$warning-color: $orange;
$error-color: $red;
$danger-color: $red;

$hd: 2; // Base Unit

// Gradient Colors
$gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
$gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);

// Component Colors
$text-color: $gray-8;
$active-color: $gray-2;
$active-opacity: 0.7;
$disabled-opacity: 0.5;
$background-color: $gray-1;
$background-color-light: #fafafa;
$text-link-color: #576b95;

// Padding
$padding-base: 4px * $hd;
$padding-xs: $padding-base * 2;
$padding-sm: $padding-base * 3;
$padding-md: $padding-base * 4;
$padding-lg: $padding-base * 6;
$padding-xl: $padding-base * 8;

// Font
$font-size-xs: 10px * $hd;
$font-size-sm: 12px * $hd;
$font-size-md: 14px * $hd;
$font-size-lg: 16px * $hd;

// Height
$height-xs: 16px * $hd;
$height-sm: 18px * $hd;
$height-md: 20px * $hd;
$height-lg: 22px * $hd;

$font-weight-bold: 500;

// Line Height
$line-height-xs: 18px * $hd;
$line-height-sm: 20px * $hd;
$line-height-md: 22px * $hd;
$line-height-lg: 24px * $hd;

$base-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB',
'Microsoft Yahei', sans-serif;

$price-integer-font-family: avenir-heavy, pingfang sc, helvetica neue, arial, sans-serif;

// Animation
$animation-duration-base: 0.3s;
$animation-duration-fast: 0.2s;
$animation-timing-function-enter: ease-out;
$animation-timing-function-leave: ease-in;

// Border
$border-color: $gray-3;
$border-width-base: 1px * $hd;
$border-radius-sm: 2px * $hd;
$border-radius-md: 4px * $hd;
$border-radius-lg: 8px * $hd;
$border-radius-max: 999px;
