@use './prefix';
@use './variables' as *;

.#{prefix.$component-prefix}haptics-feedback {
  cursor: pointer;

  &:active {
    opacity: $active-opacity;
  }
}

.#{prefix.$component-prefix}click-feedback {
  cursor: pointer;

  &:active {
    background: $active-color;
  }
}
