@import "../styles/prefix";
@import "../styles/variables";

$sidebar-width: 80px * $hd;

$sidebar-font-size: var(--font-size-md, $font-size-md);
$sidebar-line-height: var(--line-height-md, $line-height-md);
$sidebar-text-color: var(--text-color, $text-color);

$sidebar-disabled-text-color: var(--gray-5, $gray-5);
$sidebar-padding: 20px * $hd var(--padding-sm, $padding-sm);
$sidebar-active-color: var(--active-color, $active-color);
$sidebar-background-color: var(--background-color, $background-color);
$sidebar-active-font-weight: var(--font-weight-bold, $font-weight-bold);
$sidebar-active-text-color: var(--text-color, $text-color);
$sidebar-active-border-width: 4px * $hd;
$sidebar-active-border-height: 16px * $hd;
$sidebar-active-border-color: var(--red, $red);
$sidebar-active-background-color: var(--white, $white);
