@import "./variables";

.#{$component-prefix}sidebar {
  width: var(--sidebar-width, $sidebar-width);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &:not(:last-child)::after {
    border-bottom-width: 1px;
  }

  &--disabled {
    color: $sidebar-disabled-color;
    cursor: not-allowed;

    &:active {
      background: $sidebar-disabled-color;
    }
  }
}
