@import "./variables";

.#{$component-prefix}sidebar-tab {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: var(--sidebar-padding, $sidebar-padding);
  overflow: hidden;
  font-size: var(--sidebar-font-size, $sidebar-font-size);
  line-height: var(--sidebar-line-height, $sidebar-line-height);
  color: var(--sidebar-text-color, $sidebar-text-color);
  cursor: pointer;
  user-select: none;
  background-color: var(--sidebar-background-color, $sidebar-background-color);

  &:active {
    background-color: var(--sidebar-active-color, $sidebar-active-color);
  }

  &__children {
    // https://github.com/youzan/vant/issues/7455
    word-break: break-all;
  }

  &--active {
    font-weight: var(--sidebar-active-font-weight, $sidebar-active-font-weight);
    color: var(--sidebar-active-text-color, $sidebar-active-text-color);

    &,
    &:active {
      background-color: var(--sidebar-active-background-color, $sidebar-active-background-color);
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: var(--sidebar-active-border-width, $sidebar-active-border-width);
      height: var(--sidebar-active-border-height, $sidebar-active-border-height);
      content: '';
      background-color: var(--sidebar-active-border-color, $sidebar-active-border-color);
      transform: translateY(-50%);
    }
  }

  &--disabled {
    color: var(--sidebar-disabled-text-color, $sidebar-disabled-text-color);
    cursor: not-allowed;

    &:active {
      background-color: var(--sidebar-background-color, $sidebar-background-color);
    }
  }
}
