@import "./variables";

.#{$component-prefix}sidebar {
  width: var(--sidebar-width, $sidebar-width);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &:not(:last-child)::after {
    border-bottom-width: 1px;
  }

  &--disabled {
    color: var(--sidebar-disabled-text-color, $sidebar-disabled-text-color);
    cursor: not-allowed;

    &:active {
      background-color: var(--sidebar-background-color, $sidebar-background-color);
    }
  }
}
