@import "./variables";

.#{$component-prefix}timeline-connector {
  flex: 1;
  border-right: $timeline-connector-width $timeline-connector-style $timeline-connector-color;

  &--top {
    border-right: $timeline-top-connector-width $timeline-top-connector-style $timeline-top-connector-color;
  }

  &--bottom {
    border-right: $timeline-bottom-connector-width $timeline-bottom-connector-style $timeline-bottom-connector-color;
  }
}
