@import "./variables";

.#{$component-prefix}timeline {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-item {
    &:last-child {
      .taroify-timeline-item-line {
        justify-content: start;
        &::before {
          display: none;
        }
      }
    }
  }
}
