@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../styles/prefix";

.#{$demo-prefix}home {
  padding: 46px * $hd 20px * $hd 20px * $hd;
  background: #fff;

  &__title,
  &__description {
    padding-left: 16px * $hd;
    font-weight: normal;
    line-height: 1;
    user-select: none;
  }

  &__title {
    display: flex;
    align-items: center;
    margin: 0 0 16px * $hd;
    font-size: 32px * $hd;
  }

  &__logo {
    width: 32px * $hd;
    height: 32px * $hd;
  }

  &__name {
    display: inline-block;
    margin-left: 16px * $hd;
  }

  &__description {
    display: block;
    margin: 0 0 40px * $hd;
    font-size: 14px * $hd;
    color: rgba(69, 90, 100, 0.6);
  }
}
