.Home {
  padding: 0 16px 16px;
  background: #fff;

  .HomeTitle {
    display: flex;
    padding-top: 1.2rem;
    align-items: center;

    .HomeLogo {
      width: 1.4rem;
      height: 1.4rem;
    }

    .HomeName {
      display: inline-block;
      font-size: 1.4rem;
      margin-left: 14px * 2;
    }
  }

  .HomeDescription {
    display: block;
    margin: 10px 0 40px;
    color: rgba(69, 90, 100, 0.6);
    font-size: 14px * 2;
  }
}
