@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../styles/prefix";

.#{$demo-prefix}home {
  padding: 0 16px 16px;
  background: #fff;

  &__title {
    display: flex;
    align-items: center;
    padding-top: 1.2rem;
  }

  &__logo {
    width: 1.4rem;
    height: 1.4rem;
  }

  &__name {
    display: inline-block;
    margin-left: 14px * 2;
    font-size: 1.4rem;
  }

  &__description {
    display: block;
    margin: 10px 0 40px;
    font-size: 14px * 2;
    color: rgba(69, 90, 100, 0.6);
  }
}
