@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../styles/prefix";

.#{$demo-prefix}nav {
  font-size: 10px;

  &__title {
    display: block;
    margin: 24px * $hd 0 8px * $hd 16px * $hd;
    font-size: 14px * $hd;
    color: rgba(69, 90, 100, 0.6);
  }

  &__block {
    position: relative;
    display: flex;
    margin: 0 0 12px * $hd;
    padding-left: 20px * $hd;
    color: #323233;
    font-weight: 600;
    font-size: 14px * $hd;
    line-height: 40px * $hd;
    background: #f7f8fa;
    border-radius: 99px * $hd;
    transition: background 0.3s;

    &:hover {
      background: darken(#f7f8fa, 3%);
    }

    &:active {
      background: darken(#f7f8fa, 6%);
    }

    .#{$component-prefix}icon {
      position: absolute;
      top: 50%;
      right: 16px * $hd;
      font-size: 16px * $hd;
      margin-top: -8px * $hd;
      color: #b6c3d2;
    }
  }
}
