@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../styles/prefix";

.#{$demo-prefix}nav {
  font-size: 10px;

  &__title {
    display: block;
    margin: 0 0 16px * $hd 16px * $hd;
    font-size: 14px * $hd;
    color: rgba(69, 90, 100, 0.6);
  }

  &__block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    color: #323233;
    cursor: pointer;
    background: #f7f8fa;
    border-radius: 99px;
    transition: background 0.3s;

    &:active {
      background: #e4e8ee;
    }

    &:hover {
      background: #eef0f4;
    }

    .#{$component-prefix}icon {
      color: #b6c3d2;
    }
  }
}
