@import "../styles/prefix";
@import "../styles/variables";
@import "../styles/mixins/hairline";

$cell-group-background-color: $white;
$cell-group-title-color: $gray-6;
$cell-group-title-padding: $padding-md $padding-md $padding-xs;
$cell-group-title-font-size: $font-size-md;
$cell-group-title-line-height: 16px * $hd;

