@import "../styles/prefix";
@import "../styles/variables";

$notify-color: var(--notify-color, var(--white, $white));
$notify-padding: var(--notify-padding, var(--padding-xs, $padding-xs) var(--padding-md, $padding-md));
$notify-font-size: var(--notify-font-size, var(--font-size-md, $font-size-md));
$notify-line-height: var(--notify-line-height, var(--line-height-md, $line-height-md));
$notify-primary-background-color: var(--notify-primary-background-color, var(--primary-color, $primary-color));
$notify-success-background-color: var(--notify-success-background-color, var(--success-color, $success-color));
$notify-warning-background-color: var(--notify-warning-background-color, var(--warning-color, $warning-color));
$notify-danger-background-color: var(--notify-danger-background-color, var(--danger-color, $danger-color));
