@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.swipe-cell-demo {

  .#{$demo-prefix}block__content {
    padding: 0;
  }

  .custom-swipe-cell {

    .#{$component-prefix}swipe-cell__actions {
      .#{$component-prefix}button {
        height: 100%;
      }
    }

    .custom-card {
      background: #fff;
      position: relative;
      box-sizing: border-box;
      padding: 8px * $hd 16px * $hd;
      color: #323233;
      font-size: 12px * $hd;
      display: flex;

      &__thumb {
        position: relative;
        flex: none;
        width: 88px * $hd;
        height: 88px * $hd;
        margin-right: 8px * $hd;
      }
    }
  }
}
