@import "../styles/prefix";
@import "../styles/mixins/hairline";
@import "../styles/variables";

$action-sheet-subname-color: $gray-6;
$action-sheet-subname-font-size: $font-size-sm;
$action-sheet-subname-line-height: $line-height-sm;
