@import "./variables";

.#{$component-prefix}action-sheet {

  &__subname {
    margin-top: $padding-xs;
    color: $action-sheet-subname-color;
    font-size: $action-sheet-subname-font-size;
    line-height: $action-sheet-subname-line-height;
  }
}
