{
  "extends": [
    "taro/react"
  ],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-children-prop": "off",
    "no-console": "warn",
    "quotes": [
      "error",
      "double"
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ]
  }
}
