@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";
@import "../../../styles/prefix";

.loading-demo {

  .#{$demo-prefix}page__content {
    background: #fff;
  }

  .#{$component-prefix}loading--vertical {
    display: inline-flex;
  }

  .custom-color {
    color: #1989fa;
  }

  .custom-text-color {
    .#{$component-prefix}loading__text {
      color: #1989fa;
    }
  }
}