@import "../styles/prefix";
@import "../styles/variables";

$button-line-height: 1.2;
$button-border-width: $border-width-base;
$button-border-radius: $border-radius-sm;

$button-disabled-opacity: $disabled-opacity;

$button-round-border-radius: $border-radius-max;

$button-mini-height: 24px * $hd;
$button-mini-padding: 0 $padding-base;
$button-mini-font-size: $font-size-xs;

$button-small-height: 32px * $hd;
$button-small-padding: 0 $padding-xs;
$button-small-font-size: $font-size-sm;

$button-medium-height: 44px * $hd;
$button-medium-padding: 0 $padding-md;
$button-medium-font-size: $font-size-md;

$button-large-height: 50px * $hd;
$button-large-font-size: $font-size-lg;

$button-default-color: $text-color;
$button-default-background-color: $white;
$button-default-border-color: $border-color;

$button-primary-color: $white;
$button-primary-background-color: $primary-color;
$button-primary-border-color: $primary-color;

$button-info-color: $white;
$button-info-background-color: $info-color;
$button-info-border-color: $info-color;

$button-success-color: $white;
$button-success-background-color: $success-color;
$button-success-border-color: $success-color;

$button-warning-color: $white;
$button-warning-background-color: $warning-color;
$button-warning-border-color: $warning-color;

$button-danger-color: $white;
$button-danger-background-color: $error-color;
$button-danger-border-color: $error-color;

$button-icon-size: 1.2em;
$button-loading-icon-size: 20px * $hd;