@import "./variables";

.#{$component-prefix}button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: $button-line-height;
  text-align: center;
  cursor: pointer;
  border-radius: $button-border-radius;
  transition: opacity $animation-duration-fast;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: $black;
    border-color: $black;
    border-style: inherit;
    border-width: inherit;
    border-radius: inherit; /* inherit parent's border radius */
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &:active::before {
    opacity: 0.1;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: $button-disabled-opacity;

    &:active::before {
      opacity: 0;
    }
  }

  &--loading {

    &:active::before {
      opacity: 0;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--text {
    //height: $button-mini-height;
    //padding: $button-mini-padding;
    //font-size: $button-mini-font-size;
  }

  &--contained {
    //height: $button-mini-height;
    //padding: $button-mini-padding;
    //font-size: $button-mini-font-size;
  }

  &--outlined {
    background: $white;

    &.#{$component-prefix}button--default {
      //border: $button-border-width solid $button-default-border-color;
    }

    &.#{$component-prefix}button--primary {
      color: $button-primary-background-color;
      background: $button-primary-color;
    }

    &.#{$component-prefix}button--info {
      color: $button-info-background-color;
      background: $button-info-color;
    }

    &.#{$component-prefix}button--success {
      color: $button-success-background-color;
      background: $button-success-color;
    }

    &.#{$component-prefix}button--warning {
      color: $button-warning-background-color;
      background: $button-warning-color;
    }

    &.#{$component-prefix}button--danger {
      color: $button-danger-background-color;
      background: $button-danger-color;
    }
  }

  &--round {
    border-radius: $button-round-border-radius;
  }

  &--square {
    border-radius: 0;
  }

  &--mini {
    height: $button-mini-height;
    padding: $button-mini-padding;
    font-size: $button-mini-font-size;
  }

  &--small {
    height: $button-small-height;
    padding: $button-small-padding;
    font-size: $button-small-font-size;
  }

  &--medium {
    height: $button-medium-height;
    padding: $button-medium-padding;
    font-size: $button-medium-font-size;
  }

  &--large {
    width: 100%;
    height: $button-large-height;
    font-size: $button-large-font-size;
  }

  &--default {
    color: $button-default-color;
    background: $button-default-background-color;
    border: $button-border-width solid $button-default-border-color;
  }

  &--primary {
    color: $button-primary-color;
    background: $button-primary-background-color;
    border: $button-border-width solid $button-primary-background-color;
  }

  &--info {
    color: $button-info-color;
    background: $button-info-background-color;
    border: $button-border-width solid $button-info-background-color;
  }

  &--success {
    color: $button-success-color;
    background: $button-success-background-color;
    border: $button-border-width solid $button-success-background-color;
  }

  &--warning {
    color: $button-warning-color;
    background: $button-warning-background-color;
    border: $button-border-width solid $button-warning-background-color;
  }

  &--danger {
    color: $button-danger-color;
    background: $button-danger-background-color;
    border: $button-border-width solid $button-danger-background-color;
  }

  &--hairline {
    border-width: 0;

    &::after {
      border-color: inherit;
      border-radius: $button-border-radius * 2;
    }

    &.#{$component-prefix}-button--round::after {
      border-radius: $button-round-border-radius;
    }

    &.#{$component-prefix}-button--square::after {
      border-radius: 0;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    // fix icon vertical align
    // see: https://github.com/youzan/vant/issues/7617
    &::before {
      content: ' ';
    }

    .#{$component-prefix}icon {
      font-size: 1.2em;
      line-height: inherit;
      color: inherit;
    }

    .#{$component-prefix}icon + .#{$component-prefix}button__text,
    .#{$component-prefix}button__text + .#{$component-prefix}icon,
    .#{$component-prefix}button__loading + .#{$component-prefix}button__text,
    .#{$component-prefix}button__text + .#{$component-prefix}button__loading {
      margin-left: $padding-base;
    }
  }

  &__loading {
    color: inherit;
    font-size: inherit;

    .#{$component-prefix}loading__circular,
    .#{$component-prefix}loading__spinner {
      color: currentColor;
      width: $button-loading-icon-size;
      height: $button-loading-icon-size;
    }
  }
}
