@import "./variables";

.#{$component-prefix}button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: $button-line-height;
  text-align: center;
  cursor: pointer;
  border-radius: $button-border-radius;
  transition: opacity $button-transition-duration;
  appearance: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    content: ' ';
    background: var(--black, $black);
    border-color: var(--black, $black);
    border-style: inherit;
    border-width: inherit;
    border-radius: inherit; /* inherit parent's border radius */
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &:active::before {
    opacity: 0.1;
  }

  &--mini {
    height: $button-height-mini;
    padding: $button-padding-mini;
    font-size: $button-font-size-mini;
  }

  &--small {
    height: $button-height-small;
    padding: $button-padding-small;
    font-size: $button-font-size-small;
  }

  &--medium {
    height: $button-height-medium;
    padding: $button-padding-medium;
    font-size: $button-font-size-medium;
  }

  &--large {
    width: 100%;
    height: $button-height-large;
    font-size: $button-font-size-large;
  }

  &--default {
    color: $button-color-default;
    background: $button-background-color-default;
    border: $button-border-width solid $button-border-color-default;
  }

  &--primary {
    color: $button-color-primary;
    background: $button-background-color-primary;
    border: $button-border-width solid $button-border-color-primary;
  }

  &--info {
    color: $button-color-info;
    background: $button-background-color-info;
    border: $button-border-width solid $button-border-color-info;
  }

  &--success {
    color: $button-color-success;
    background: $button-background-color-success;
    border: $button-border-width solid $button-background-color-success;
  }

  &--warning {
    color: $button-color-warning;
    background: $button-background-color-warning;
    border: $button-border-width solid $button-border-color-warning;
  }

  &--danger {
    color: $button-color-danger;
    background: $button-background-color-danger;
    border: $button-border-width solid $button-border-color-danger;
  }

  &--disabled {
    cursor: not-allowed;
    opacity: $button-disabled-opacity;

    &:active::before {
      opacity: 0;
    }
  }

  &--loading {

    &:active::before {
      opacity: 0;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--text {
    background: transparent;
    border: 0 none;

    &:active::before {
      opacity: 0.1;
    }

    &.#{$component-prefix}button--default {
      color: $button-color-default;
    }

    &.#{$component-prefix}button--primary {
      color: $button-background-color-primary;

      &:active::before {
        background: $button-background-color-primary;
      }
    }

    &.#{$component-prefix}button--info {
      color: $button-background-color-info;

      &:active::before {
        background: $button-background-color-info;
      }
    }

    &.#{$component-prefix}button--success {
      color: $button-background-color-success;

      &:active::before {
        background: $button-background-color-success;
      }
    }

    &.#{$component-prefix}button--warning {
      color: $button-background-color-warning;

      &:active::before {
        background: $button-background-color-warning;
      }
    }

    &.#{$component-prefix}button--danger {
      color: $button-background-color-danger;

      &:active::before {
        background: $button-background-color-danger;
      }
    }
  }

  &--contained {
    // none
  }

  &--outlined {
    background: transparent;

    &.#{$component-prefix}button--primary {
      color: $button-background-color-primary;
      background: $button-color-primary;

      &:active::before {
        background: $button-background-color-primary;
      }
    }

    &.#{$component-prefix}button--info {
      color: $button-background-color-info;
      background: $button-color-info;

      &:active::before {
        background: $button-background-color-info;
      }
    }

    &.#{$component-prefix}button--success {
      color: $button-background-color-success;
      background: $button-color-success;

      &:active::before {
        background: $button-background-color-success;
      }
    }

    &.#{$component-prefix}button--warning {
      color: $button-background-color-warning;
      background: $button-color-warning;

      &:active::before {
        background: $button-background-color-warning;
      }
    }

    &.#{$component-prefix}button--danger {
      color: $button-background-color-danger;
      background: $button-color-danger;

      &:active::before {
        background: $button-background-color-danger;
      }
    }
  }

  &--hairline {
    border-width: 0;

    &::after {
      border-color: inherit;
      border-radius: $button-border-radius;
    }

    &.#{$component-prefix}button--round::after {
      border-radius: $button-border-radius-max;
    }

    &.#{$component-prefix}button--square::after {
      border-radius: 0;
    }
  }

  &--round {
    border-radius: $button-border-radius-max;
  }

  &--square {
    border-radius: 0;
  }

  &__icon {
    font-size: 1.2em;
    line-height: inherit;
    color: inherit;
  }

  // align-items are ignored when flex container is a button in legacy safari
  // see: https://bugs.webkit.org/show_bug.cgi?id=169700
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    // fix icon vertical align
    // see: https://github.com/youzan/vant/issues/7617
    &::before {
      content: ' ';
    }
  }

  &__loading {
    font-size: inherit;
    color: inherit;

    .#{$component-prefix}loading__circular,
    .#{$component-prefix}loading__spinner {
      width: $button-loading-icon-size;
      height: $button-loading-icon-size;
      color: currentColor;
    }
  }

  &__loading--right,
  &__icon--right {
    margin-right: var(--padding-base, $padding-base);
  }

  &__loading--left,
  &__icon--left {
    margin-left: var(--padding-base, $padding-base);
  }
}
