@import "./variables";

.#{$component-prefix}button {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  margin: 0;
  line-height: var(--button-line-height, $button-line-height);
  text-align: center;
  cursor: pointer;
  border-radius: var(--button-border-radius, $button-border-radius);
  transition: opacity var(--animation-duration-fast, $animation-duration-fast);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: var(--black, $black);
    border-color: var(--black, $black);
    border-style: inherit;
    border-width: inherit;
    border-radius: inherit; /* inherit parent's border radius */
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &:active::before {
    opacity: 0.1;
  }

  &--mini {
    height: var(--button-mini-height, $button-mini-height);
    padding: var(--button-mini-padding, $button-mini-padding);
    font-size: var(--button-mini-font-size, $button-mini-font-size);
  }

  &--small {
    height: var(--button-small-height, $button-small-height);
    padding: var(--button-small-padding, $button-small-padding);
    font-size: var(--button-small-font-size, $button-small-font-size);
  }

  &--medium {
    height: var(--button-medium-height, $button-medium-height);
    padding: var(--button-medium-padding, $button-medium-padding);
    font-size: var(--button-medium-font-size, $button-medium-font-size);
  }

  &--large {
    width: 100%;
    height: var(--button-large-height, $button-large-height);
    font-size: var(--button-large-font-size, $button-large-font-size);
  }

  &--default {
    color: var(--button-default-color, $button-default-color);
    background: var(--button-default-background-color, $button-default-background-color);
    border: var(--button-border-width, $button-border-width) solid var(--button-default-border-color, $button-default-border-color);
  }

  &--primary {
    color: var(--button-primary-color, $button-primary-color);
    background: var(--button-primary-background-color, $button-primary-background-color);
    border: var(--button-border-width, $button-border-width) solid var(--button-primary-background-color, $button-primary-background-color);
  }

  &--info {
    color: var(--button-info-color, $button-info-color);
    background: var(--button-info-background-color, $button-info-background-color);
    border: var(--button-border-width, $button-border-width) solid var(--button-info-background-color, $button-info-background-color);
  }

  &--success {
    color: var(--button-success-color, $button-success-color);
    background: var(--button-success-background-color, $button-success-background-color);
    border: var(--button-border-width, $button-border-width) solid var(--button-success-background-color, $button-success-background-color);
  }

  &--warning {
    color: var(--button-warning-color, $button-warning-color);
    background: var(--button-warning-background-color, $button-warning-background-color);
    border: var(--button-border-width, $button-border-width) solid var(--button-warning-background-color, $button-warning-background-color);
  }

  &--danger {
    color: var(--button-danger-color, $button-danger-color);
    background: var(--button-danger-background-color, $button-danger-background-color);
    border: var(--button-border-width, $button-border-width) solid var(--button-danger-background-color, $button-danger-background-color);
  }

  &--disabled {
    cursor: not-allowed;
    opacity: var(--button-disabled-opacity, $button-disabled-opacity);

    &:active::before {
      opacity: 0;
    }
  }

  &--loading {

    &:active::before {
      opacity: 0;
    }
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--text {
    // none
  }

  &--contained {
    // none
  }

  &--outlined {
    background: var(--white, $white);

    &.#{$component-prefix}button--primary {
      color: var(--button-primary-background-color, $button-primary-background-color);
      background: var(--button-primary-color, $button-primary-color);
    }

    &.#{$component-prefix}button--info {
      color: var(--button-info-background-color, $button-info-background-color);
      background: var(--button-info-color, $button-info-color);
    }

    &.#{$component-prefix}button--success {
      color: var(--button-success-background-color, $button-success-background-color);
      background: var(--button-success-color, $button-success-color);
    }

    &.#{$component-prefix}button--warning {
      color: var(--button-warning-background-color, $button-warning-background-color);
      background: var(--button-warning-color, $button-warning-color);
    }

    &.#{$component-prefix}button--danger {
      color: var(--button-danger-background-color, $button-danger-background-color);
      background: var(--button-danger-color, $button-danger-color);
    }
  }

  &--hairline {
    border-width: 0;

    &::after {
      border-color: inherit;
      border-radius: var(--button-border-radius, $border-radius-md);
    }

    &.#{$component-prefix}-button--round::after {
      border-radius: var(--button-round-border-radius, $button-round-border-radius);
    }

    &.#{$component-prefix}-button--square::after {
      border-radius: 0;
    }
  }

  &--round {
    border-radius: var(--button-round-border-radius, $button-round-border-radius);
  }

  &--square {
    border-radius: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    // fix icon vertical align
    // see: https://github.com/youzan/vant/issues/7617
    &::before {
      content: ' ';
    }

    .#{$component-prefix}icon {
      font-size: 1.2em;
      line-height: inherit;
      color: inherit;
    }

    .#{$component-prefix}icon + .#{$component-prefix}button__text,
    .#{$component-prefix}button__text + .#{$component-prefix}icon,
    .#{$component-prefix}button__loading + .#{$component-prefix}button__text,
    .#{$component-prefix}button__text + .#{$component-prefix}button__loading {
      margin-left: var(--padding-base, $padding-base);
    }
  }

  &__loading {
    font-size: inherit;
    color: inherit;

    .#{$component-prefix}loading__circular,
    .#{$component-prefix}loading__spinner {
      width: var(--button-loading-icon-size, $button-loading-icon-size);
      height: var(--button-loading-icon-size, $button-loading-icon-size);
      color: currentColor;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: transparent;
    border: 0 none;
    outline: none;
    opacity: 0;

    &::after {
      display: none;
    }
  }
}
