@import "../styles/prefix";
@import "../styles/variables";

$circle-size: 100px * $hd;
$circle-color: $primary-color;
$circle-layer-color: $white;
$circle-text-color: $text-color;
$circle-text-font-weight: $font-weight-bold;
$circle-text-font-size: $font-size-md;
$circle-text-line-height: $line-height-md;

