@import "./variables";

.#{$component-prefix}circle {
  position: relative;
  display: inline-block;
  width: var(--circle-size, $circle-size);
  height: var(--circle-size, $circle-size);
  text-align: center;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__hover {
    fill: none;
    stroke: var(--circle-color, $circle-color);
    stroke-linecap: round;
  }

  &__layer {
    stroke: var(--circle-layer-color, $circle-layer-color);
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 var(--padding-base, $padding-base);
    font-size: var(--circle-text-font-size, $circle-text-font-size);
    font-weight: var(--circle-text-font-weight, $circle-text-font-weight);
    line-height: var(--circle-text-line-height, $circle-text-line-height);
    color: var(--circle-text-color, $circle-text-color);
    transform: translateY(-50%);
  }
}