@import "./variables";


.#{$component-prefix}circle {
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__hover {
    fill: none;
    stroke: $circle-color;
    stroke-linecap: round;
  }

  &__layer {
    stroke: $circle-layer-color;
  }

}