@forward "../styles/prefix";
@forward "../styles/variables";
@use "../styles/variables" as *;

$skeleton-avatar-size: var(--skeleton-avatar-size, 32px * $hd);
$skeleton-avatar-background: var(--skeleton-avatar-background, var(--active-color, $active-color));
$skeleton-duration: var(--skeleton-duration, 1.2s);
$skeleton-paragraph-height: var(--skeleton-paragraph-height, 16px * $hd);
$skeleton-paragraph-background: var(--skeleton-paragraph-background, var(--active-color, $active-color));
$skeleton-title-width: var(--skeleton-title-width, 40%);
$skeleton-paragraph-margin-top: var(--skeleton-paragraph-margin-top, var(--padding-xs, $padding-xs));
$skeleton-image-size: var(--skeleton-image-size, 96px * $hd);
$skeleton-image-radius: var(--skeleton-image-radius, 24px * $hd);
