@import './variables';

.#{$component-prefix}skeleton {
  height: var(--skeleton-height, $skeleton-height);
  background: var(--skeleton-background-color, $skeleton-background-color);

  &--circle {
    width: var(--skeleton-circle-size, $skeleton-circle-size);
    height: var(--skeleton-circle-size, $skeleton-circle-size);
    border-radius: var(--border-radius-max, $border-radius-max);
  }

  &--pulse {
    animation: #{$component-prefix}skeleton-pulse //
    var(--skeleton-pulse-animation-duration, $skeleton-pulse-animation-duration) //
    var(--skeleton-pulse-animation-timing-function, $skeleton-pulse-animation-timing-function) //
    var(--skeleton-pulse-animation-delay, $skeleton-pulse-animation-delay) infinite;
  }

  &--wave {
    position: relative;
    display: block;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
      transform: translateX(-100%);
      animation: #{$component-prefix}skeleton-wave //
      var(--skeleton-wave-animation-duration, $skeleton-wave-animation-duration) //
      var(--skeleton-wave-animation-timing-function, $skeleton-wave-animation-timing-function) //
      var(--skeleton-wave-animation-delay, $skeleton-wave-animation-delay) infinite;
    }
  }
}

@keyframes #{$component-prefix}skeleton-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes #{$component-prefix}skeleton-wave {
  0% {
    transform: translateX(-100%);
  }
  50% {
    /* +0.5s of delay between each loop */
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
