@import './variables';

.#{$component-prefix}skeleton {
  display: flex;
  padding: 0 $padding-md;

  &__content {
    width: 100%;
  }

  &--animate {
    animation: skeleton-blink $skeleton-duration ease-in-out infinite;
  }
}

@keyframes skeleton-blink {
  50% {
    opacity: 0.6;
  }
}
