@import "./variables";

.#{$component-prefix}toast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  font-size: $toast-font-size;
  line-height: $toast-line-height;
  background: $toast-background-color;
  border-radius: $toast-border-radius;
  color: $toast-text-color;

  &-text {
    width: fit-content;
    min-width: $toast-text-min-width;
    min-height: 0;
    padding: $toast-text-padding;
  }

  &-loading, &-success, &-fail {
    width: $toast-default-width;
    padding: $toast-default-padding;
    max-width: $toast-max-width;
    min-height: $toast-default-min-height;
  }

  &-icon {
    color: $toast-icon-color;
    font-size: 36px * $hd !important;
  }

  &-message {
    margin-top: $padding-xs;
  }
}
