@import "./variables";

.#{$component-prefix}toast {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--toast-font-size, $toast-font-size);
  line-height: var(--toast-line-height, $toast-line-height);
  color: var(--toast-text-color, $toast-text-color);
  background: var(--toast-background-color, $toast-background-color);
  border-radius: var(--toast-border-radius, $toast-border-radius);

  &--text {
    width: fit-content;
    min-width: var(--toast-text-min-width, $toast-text-min-width);
    min-height: 0;
    padding: var(--toast-text-padding, $toast-text-padding);
  }

  &--loading,
  &--success,
  &--fail {
    width: var(--toast-default-width, $toast-default-width);
    max-width: var(--toast-max-width, $toast-max-width);
    min-height: var(--toast-default-min-height, $toast-default-min-height);
    padding: var(--toast-default-padding, $toast-default-padding);
  }

  &__icon {
    font-size: 36px * $hd !important;
    color: var(--toast-icon-color, $toast-icon-color);
  }

  &__message {
    margin-top: var(--padding-xs, $padding-xs);
  }
}
