@import "./variables";

.#{$component-prefix}toast {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $toast-font-size;
  line-height: $toast-line-height;
  color: $toast-text-color;
  background: $toast-background-color;
  border-radius: $toast-border-radius;

  &--text {
    width: fit-content;
    min-width: $toast-text-min-width;
    min-height: 0;
    padding: $toast-text-padding;
  }

  &--loading,
  &--success,
  &--fail {
    width: $toast-default-width;
    max-width: $toast-max-width;
    min-height: $toast-default-min-height;
    padding: $toast-default-padding;
  }

  &__icon {
    font-size: 36px * $hd !important;
    color: $toast-icon-color;
  }

  &__message {
    margin-top: $padding-xs;
  }
}
