@import "../styles/prefix";
@import "../styles/variables";


$toast-max-width: 70%;
$toast-font-size: $font-size-md;
$toast-text-color: $white-color;
$toast-icon-color: $white-color;
$toast-loading-icon-color: $white-color;
$toast-line-height: $line-height-md;

$toast-text-color: $white-color;
$toast-border-radius: $border-radius-lg;
$toast-background-color: rgba($black-color, $alpha: 0.7);

$toast-default-padding: $padding-md;
$toast-default-width: 88px * 2;
$toast-default-min-height: 88px * 2;

$toast-text-min-width: 96px * 2;
$toast-text-padding: $padding-xs $padding-sm;
