@mixin ellipsis($lines: 1) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($lines == 1) {
    white-space: nowrap;
  } @else {
    white-space: pre-wrap;
    /* stylelint-disable */
    /* autoprefixer: ignore next */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-line-clamp: $lines;
    /* stylelint-enable */
  }
}
