@mixin multi-ellipsis($lines) {
  /* autoprefixer: ignore next */
  /* stylelint-disable property-no-unknown */
  box-orient: vertical;
  /* stylelint-enable property-no-unknown */
  display: box;
  -webkit-line-clamp: $lines;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
