@import "../styles/prefix";
@import "../styles/variables";

$button-size-mini-height: 24px;
$button-size-mini-padding: 0 $padding-base;
$button-size-mini-font-size: $font-size-xs;

$button-size-small-height: 32px;
$button-size-small-padding: 0 $padding-xs;
$button-size-small-font-size: $font-size-sm;

$button-size-medium-padding: 0 15px;
$button-size-medium-font-size: $font-size-md;

$button-size-large-height: 50px;

$button-color-default-height: 44px;
$button-color-default-line-height: 1.2;
$button-color-default-font-size: $font-size-lg;
$button-color-default-color: $text-color;
$button-color-default-background-color: $white;
$button-color-default-border-color: $border-color;

$button-color-primary-color: $white;
$button-color-primary-background-color: $primary-color;
$button-color-primary-border-color: $primary-color;

$button-color-info-color: $white;
$button-color-info-background-color: $info-color;
$button-color-info-border-color: $info-color;

$button-color-success-color: $white;
$button-color-success-background-color: $success-color;
$button-color-success-border-color: $success-color;

$button-color-warning-color: $white;
$button-color-warning-background-color: $warning-color;
$button-color-warning-border-color: $warning-color;

$button-color-danger-color: $white;
$button-color-danger-background-color: $error-color;
$button-color-danger-border-color: $error-color;

$button-border-width: $border-width-base;
$button-border-radius: $border-radius-sm;

.#{$component-prefix}button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: $button-color-default-height;
  margin: 0;
  padding: 0;
  font-size: $button-color-default-font-size;
  //line-height: $button-default-line-height;
  text-align: center;
  border-radius: $button-border-radius;
  cursor: pointer;
  transition: opacity $animation-duration-fast;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: $black;
    border-width: inherit;
    border-style: inherit;
    border-color: $black;
    border-radius: inherit; /* inherit parent's border radius */
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }

  &:active::before {
    opacity: 0.1;
  }

  &-variant-text {
    //height: $button-size-mini-height;
    //padding: $button-size-mini-padding;
    //font-size: $button-size-mini-font-size;
  }

  &-variant-contained {
    //height: $button-size-mini-height;
    //padding: $button-size-mini-padding;
    //font-size: $button-size-mini-font-size;
  }

  &-variant-outlined {
    background: $white;

    &.#{$component-prefix}button-color-default {
      //border: $button-border-width solid $button-color-default-border-color;
    }

    &.#{$component-prefix}button-color-primary {
      color: $button-color-primary-background-color;
      background: $button-color-primary-color;
    }

    &.#{$component-prefix}button-color-info {
      color: $button-color-info-background-color;
      background: $button-color-info-color;
    }

    &.#{$component-prefix}button-color-success {
      color: $button-color-success-background-color;
      background: $button-color-success-color;
    }

    &.#{$component-prefix}button-color-warning {
      color: $button-color-warning-background-color;
      background: $button-color-warning-color;
    }

    &.#{$component-prefix}button-color-danger {
      color: $button-color-danger-background-color;
      background: $button-color-danger-color;
    }
  }

  &-size-mini {
    height: $button-size-mini-height;
    padding: $button-size-mini-padding;
    font-size: $button-size-mini-font-size;
  }

  &-size-small {
    height: $button-size-small-height;
    padding: $button-size-small-padding;
    font-size: $button-size-small-font-size;
  }

  &-size-medium {
    padding: $button-size-medium-padding;
    font-size: $button-size-medium-font-size;
  }

  &-size-large {
    width: 100%;
    height: $button-size-large-height;
  }

  &-color-default {
    color: $button-color-default-color;
    background: $button-color-default-background-color;
    border: $button-border-width solid $button-color-default-border-color;
  }

  &-color-primary {
    color: $button-color-primary-color;
    background: $button-color-primary-background-color;
    border: $button-border-width solid $button-color-primary-background-color;
  }

  &-color-info {
    color: $button-color-info-color;
    background: $button-color-info-background-color;
    border: $button-border-width solid $button-color-info-background-color;
  }

  &-color-success {
    color: $button-color-success-color;
    background: $button-color-success-background-color;
    border: $button-border-width solid $button-color-success-background-color;
  }

  &-color-warning {
    color: $button-color-warning-color;
    background: $button-color-warning-background-color;
    border: $button-border-width solid $button-color-warning-background-color;
  }

  &-color-danger {
    color: $button-color-danger-color;
    background: $button-color-danger-background-color;
    border: $button-border-width solid $button-color-danger-background-color;
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    // fix icon vertical align
    // see: https://github.com/youzan/vant/issues/7617
    &::before {
      content: ' ';
    }
  }

}
