@use "./variables" as *;

.#{$component-prefix}signature {
  padding: $signature-padding;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $signature-content-height;
    overflow: hidden;
    background-color: $signature-content-background;
    border: $signature-content-border;
    border-radius: $signature-border-radius;

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}
