.vant-header {
  width: 100%;
  background-color: #001938;
  -webkit-user-select: none;
  user-select: none;

  @media (min-width: 1680px) {
    &-top {
      width: 1680px;
      margin: 0 auto;
    }
  }

  &-top {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
  }

  &-logo {

    img, span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      width: 24px;
      margin-right: 10px;
    }

    span {
      color: #fff;
      font-size: 22px;
    }
  }
}
