@import "../styles/prefix";

.#{$component-prefix}header {
  width: 100%;
  user-select: none;
  background-color: #001938;

  @media (min-width: 1680px) {
    &__top {
      width: 1680px;
      margin: 0 auto;
    }
  }

  &__top {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
  }

  &__logo {

    img, span {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      width: 24px;
      margin-right: 10px;
    }

    span {
      font-size: 22px;
      color: #fff;
    }
  }

  &__top-nav {
    flex: 1;
    font-size: 0;
    text-align: right;
  }

  &__top-nav-item {
    position: relative;
    display: inline-block;
    margin-left: 16px;
    vertical-align: middle;

    img {
      display: block;
      width: 30px;
      height: 30px;
      transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
