@import "../styles/prefix";

.#{$component-prefix}side-nav {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 1;
  min-width: 220px;
  max-width: 220px;
  padding: 0 0 24px;
  overflow-y: scroll;
  background-color: var(--site-surface);
  box-shadow: 0 8px 12px var(--site-shadow);

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--site-scrollbar);
    }
  }

  &-item-group {
    padding-left: 6px;
    margin-bottom: 16px;

    &-title {
      padding: 8px 0 8px 24px;
      font-size: 15px;
      font-weight: 600;
      line-height: 28px;
      color: var(--site-text-color);
    }
  }

  &-item {
    display: block;
    margin: 8px 0;
    text-decoration: none;

    span {
      display: block;
      padding: 8px 0 8px 24px;
      margin: 0;
      color: var(--site-text-color);
      font-size: 14px;
      font-weight: var(--site-emphasis-font-weight);
      line-height: 20px;
      text-decoration: none;
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: #4fc08d;
      }
    }

    &-active {
      span {
        font-weight: 600;
        color: #4fc08d;
        background-color: var(--site-active-background);
        border-radius: 999px;
      }
    }
  }
}

@media (min-width: 1680px) {
  .#{$component-prefix}side-nav {
    left: 50%;
    margin-left: -840px;
  }
}

.#{$component-prefix}diamond-sponsor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  color: #4fc08d;
  border: 1PX solid #4fc08d;
  border-radius: 2px;
}
