@import "../styles/prefix";
@import "../styles/variables";

$rolling-text-font-size: var(--rolling-text-font-size, $font-size-md);
$rolling-text-color: var(--rolling-text-color, $text-color);
$rolling-text-gap: var(--rolling-text-gap, 0px);
$rolling-text-item-width: var(--rolling-text-item-width, 30px);
$rolling-text-item-border-radius: var(--rolling-text-item-border-radius, 0px);
$rolling-text-background: var(--rolling-text-background, inherit);
$rolling-text-duration: var(--rolling-text-duration, $animation-duration-base);
$rolling-text-delay: var(--rolling-text-delay);
$rolling-text-translate: var(--rolling-text-translate);
