@import "./variables";

.#{$component-prefix}pull-refresh {
  overflow: hidden;
  user-select: none;

  &__track {
    position: relative;
    height: 100%;
    transition-property: transform;
  }

  &__head {
    position: absolute;
    left: 0;
    width: 100%;
    height: $pull-refresh-head-height;
    overflow: hidden;
    font-size: $pull-refresh-head-font-size;
    line-height: $pull-refresh-head-line-height;
    color: $pull-refresh-head-color;
    text-align: center;
    transform: translateY(-100%);
  }

  &__loading {
    .#{$component-prefix}loading__circular,
    .#{$component-prefix}loading__spinner {
      width: $pull-refresh-loading-icon-width;
      height: $pull-refresh-loading-icon-height;
    }
  }
}
