@import "../styles/prefix";
@import "../styles/variables";

.#{$component-prefix}white-space {
  box-sizing: border-box;
  display: block;
  user-select: none;

  &-size-mini {
    height: 4px * $hd;
  }

  &-size-small {
    height: 8px * $hd;
  }

  &-size-medium {
    height: 12px * $hd;
  }

  &-size-large {
    height: 14px * $hd;
  }
}
