@import "~@taroify/core/styles/prefix";
@import "~@taroify/core/styles/variables";

.image-demo {
  background: $background-color-2;
  overflow-y: auto;

  .#{$component-prefix}flex-item {
    margin-bottom: 10px * $hd;
  }

  .text {
    display: block;
    margin-top: 5px * $hd;
    color: $text-color;
    font-size: 14px * $hd;
    text-align: center;
  }
}
